<script>
    $(document).ready(function () {
        var table = $('#customer_table').DataTable({
            "scrollX": false,
            "ordering": false,
            "scrollCollapse": true,
            "processing": true,
            "serverSide": true,
            "lengthChange": false,
            "searching": true,
			"pageLength": 12,
            "ajax": {
                "url": "{{ @BASE.'/customer/data' }}",
                "type": "POST"
            },
            "columns": [
                { data: 0 }, { data: 1 }, { data: 2 }, { data: 3 }, { data: 4 },
                {
                    "render": function (data, type, full) {
                        return '<a href="javascript:void(0)" class="badge badge-info p-1" title="Edit Data" data-toggle="modal" data-target="#update_customer" data-customer_id="' + full[11] + '" data-customer_code="' + full[0] + '" data-customer_name="' + full[1] + '" data-customer_address="' + full[2] + '" data-customer_city="' + full[3] + '" data-customer_phone="' + full[4] + '" data-customer_name_other="' + full[5] + '" data-customer_address_other="' + full[6] + '" data-customer_city_other="' + full[7] + '" data-customer_phone_other="' + full[8] + '" data-customer_note="' + full[9] + '" data-customer_npwp="' + full[10] + '"><i class="fa fa-pen"></i></>';
                    }
                }
            ]
        });

        $('#customer_search').on('keyup', function () {
            table.search(this.value).draw();
        });
    });
</script>