<script>

$(document).ready(function(){
  var table = $('#invoice_cancel_table').DataTable({
	"scrollX": false,
	"ordering": false,
	"scrollCollapse": true,
	"processing": true,
	"serverSide": true,
	"lengthChange": false,
	"searching": true,
	"ajax": {
	  "url": "{{ @BASE.'/invoice-cancel/data' }}",
	  "type": "POST"
	},
	"columns": [
	  { data: 0 }, { data: 1 }, { data: 2 },
	  {
	    "render": function (data, type, full){
		  return '<span style="float:right; margin-right:25px">' + data + '</span>';
		}
	  },
	  { data: 4 },
	  {
		"render": function (data, type, full){
		  return '<a href="{{ @BASE."/invoice/print/' + data + '" }}" class="badge badge-success p-1" title="Cetak Invoice" target="_blank"><i class="fa fa-print"></i></a>&nbsp;<a href="{{ @BASE."/invoice/view/' + data + '" }}" class="badge badge-warning p-1" title="Lihat Invoice"><i class="fa fa-search"></i></a>&nbsp;<a href="{{ @BASE."/invoice/file/' + data + '" }}" class="badge badge-primary p-1" title="Lampirkan File"><i class="fa fa-image"></i></a>&nbsp;<a href="{{ @BASE."/invoice/cancel/' + full[6] + '" }}" class="badge badge-danger p-1" title="Batalkan Invoice" onclick="return confirm(\'Anda ingin membatalkan invoice nomor : ' + full[0] + ' ?\')"><i class="fa fa-ban"></i></a>';
		}
	  }
	]
  });
	
  $('#invoice_cancel_search').on('keyup', function(){
	table.search(this.value).draw();
  });
});
</script>