<script>

$(document).ready(function(){
  var table = $('#invoice_table').DataTable({
	"scrollX": false,
	"ordering": false,
	"scrollCollapse": true,
	"processing": true,
	"serverSide": true,
	"lengthChange": false,
	"searching": true,
	"pageLength": 15,
	"ajax": {
	  "url": "{{ @BASE.'/invoice/data' }}",
	  "type": "POST"
	},
	"columns": [
	  {
	    "render": function (data, type, full){
		  return '<b>' + data + '</b>';
		}
	  }, { data: 1 },
	  {
	    "render": function (data, type, full){
		  return '<b>' + data + '</b>';
		}
	  }, { data: 3 }, { data: 4 },
	  {
	    "render": function (data, type, full){
		  return '<span style="float:right; margin-right:25px">' + data + '</span>';
		}
	  },
	  { data: 6 },
	  {
		"render": function (data, type, full){
		  var session_level = $("#session_level").data('value');
		  if(session_level != 1){
			var admin = 'hidden';
		  }
		  
		  return '<a href="{{ @BASE."/invoice/print/' + data + '" }}" class="badge badge-success p-1" title="Cetak Invoice" target="_blank"><i class="fa fa-print"></i></a> <a href="{{ @BASE."/invoice/view/' + data + '" }}" class="badge badge-warning p-1" title="Lihat Invoice"' + admin + '><i class="fa fa-search"></i></a> <a href="{{ @BASE."/invoice/update/' + data + '" }}" class="badge badge-info p-1" title="Edit Data" target="_blank"><i class="fa fa-pen"></i></a>';
		}
	  }
	]
  });
	
  $('#invoice_search').on('keyup', function(){
	table.search(this.value).draw();
  });
});
</script>