<script>
$(document).ready(function(){
  var table = $('#item_table').DataTable({
    "scrollX": false,
    "ordering": false,
    "scrollCollapse": true,
    "processing": true,
    "serverSide": true,
    "lengthChange": false,
    "searching": true,
	"pageLength": 12,
    "ajax": {
      "url": "{{ @BASE.'/item/data' }}",
      "type": "POST"
    },
    "columns": [
      { data: 0 }, { data: 1 }, { data: 2 },
	  {
	    "render": function (data, type, full){
		  return '<span style="float:right; margin-right:25px">' + data + '</span>';
		}
	  },
      {
        "render": function (data, type, full) {
		  if(full[4] === null){
			var button_image = '<a href="javascript:voice(0)" class="badge badge-success p-1" title="Lihat Produk" onclick="return alert(\'Gambar tidak ditemukan !\')"><i class="fa fa-image"></i></a>';
		  } else {
			var button_image = '<a href="../../ui/assets/img/item/' + full[4] + '" class="badge badge-success p-1" title="Lihat Produk" target="_blank"><i class="fa fa-image"></i></a>';
		  }
			
          return button_image + '&nbsp;<a href="{{ @BASE."/item/update/' + full[5] + '" }}" class="badge badge-info p-1" title="Edit Barang" target="_blank"><i class="fa fa-pen"></i></a>';
        }
      }
    ]
  });

  $('#item_search').on('keyup', function () {
    table.search(this.value).draw();
  });
  
  function refreshTable(){
	table.ajax.reload(null, false);
  }

  table_refresh.onclick = refreshTable;
});
</script>