<script>
	$(document).ready(function () {
        var table = $('#purchase_table').DataTable({
            "scrollX": false,
            "ordering": false,
            "scrollCollapse": true,
            "processing": true,
            "serverSide": true,
            "lengthChange": false,
            "searching": true,
            "ajax": "{{ @BASE.'/purchase/data' }}",
            "columns": [
                { data: 0 }, { data: 1 }, { data: 2 },
				{
					"render": function (data, type, full){
					  return '<span style="float:right; margin-right:25px">' + data + '</span>';
					}
				},
				{
					"render": function (data, type, full){
					  return '<span style="float:right; margin-right:25px">' + data + '</span>';
					}
				},
                {
                    "render": function (data, type, full) {
                        return '<a href="{{ @BASE."/purchase/update/' + data + '" }}" class="badge badge-info p-1" title="Edit Pembelian" target="_blank"><i class="fa fa-pen"></i></>';
                    }
                }
            ]
        });

        $('#purchase_search').on('keyup', function () {
            table.search(this.value).draw();
        });
    });
</script>