<script>
	$(document).ready(function () {
        var table = $('#purchase_table').DataTable({
            "scrollX": false,
            "ordering": false,
            "scrollCollapse": true,
            "processing": true,
            "serverSide": true,
            "lengthChange": false,
            "searching": true,
            "ajax": {
                "url": "{{ @BASE.'/purchase/data' }}",
                "type": "POST"
            },
            "columns": [
                { data: 0 }, { data: 1 }, { data: 2 }, { data: 3 },
                {
                    "render": function (data, type, full) {
                        return '<a href="{{ @BASE."/purchase/view/' + data + '" }}" class="badge badge-warning p-1" title="Lihat Pembelian"><i class="fa fa-search"></i></>';
                    }
                }
            ]
        });

        $('#purchase_search').on('keyup', function () {
            table.search(this.value).draw();
        });
    });
</script>