<script>

$(document).ready(function(){
  var table = $('#rework_table').DataTable({
	"scrollX": false,
	"ordering": false,
	"scrollCollapse": true,
	"processing": true,
	"serverSide": true,
	"lengthChange": false,
	"searching": true,
	"pageLength": 12,
	"ajax": {
	  "url": "{{ @BASE.'/rework/data' }}",
	  "type": "POST"
	},
	"columns": [
	  { data: 0 }, { data: 1 }, { data: 2 }, { data: 3 }, { data: 4 },
	  {
	    "render": function (data, type, full){
		  return '<span style="float:right; margin-right:25px">' + data + '</span>';
		}
	  },
	  {
		"render": function (data, type, full){
		  return '<a href="{{ @BASE."/rework/update/' + data + '" }}" class="badge badge-info p-1" title="Edit Rework"><i class="fa fa-pen"></i></a>';
		}
	  }
	]
  });
	
  $('#rework_search').on('keyup', function(){
	table.search(this.value).draw();
  });
});
</script>