<div class="card card-primary card-outline">
  <form action="{{ @BASE.'/item/update/'.@PARAMS.item_id }}" method="POST" enctype="multipart/form-data">
    <div class="card-body">
	  <div class="row">
		<div class="col-md-8">
		  <div class="form-row">
			<div class="form-group col-md-6">
			  <label>Kode Barang <span class="text-danger">*</span></label>
			  <input name="item_code" class="form-control form-control-sm" value="{{ @POST.item_code }}" required>
			</div>
			<div class="form-group col-md-6">
			  <label>Part Number</label>
			  <input name="item_part_no" class="form-control form-control-sm" value="{{ @POST.item_part_no }}">
			</div>
		  </div>
		  <div class="form-group">
			<label>Nama Barang</label>
			<input name="item_desc" class="form-control form-control-sm" value="{{ @POST.item_desc }}">
		  </div>
		  <div class="form-row">
			<div class="form-group col-md-4">
			  <label>Harga</label>
			  <input name="item_price" class="form-control form-control-sm number-only" value="{{ @POST.item_price }}">
			</div>
			<div class="form-group col-md-4">
			  <label>Unit</label>
			  <input name="item_unit" class="form-control form-control-sm" value="{{ @POST.item_unit }}">
			</div>
			<div class="form-group col-md-4">
			  <label>Stamping</label>
			  <input name="item_stamping" class="form-control form-control-sm" value="{{ @POST.item_stamping }}">
			</div>
		  </div>
		  <div class="form-row">
			<div class="form-group col-md-4">
			  <label>Data Fisik</label>
			  <input name="item_physical" class="form-control form-control-sm" value="{{ @POST.item_physical }}">
			</div>
		    <div class="form-group col-md-4">
			  <label>Cross Reference</label>
			  <input name="item_similar" class="form-control form-control-sm" value="{{ @POST.item_similar }}">
			</div>
			<div class="form-group col-md-4">
			  <label>P/N 2</label>
			  <input name="item_pn" class="form-control form-control-sm" value="{{ @POST.item_pn }}">
			</div>
		  </div>
		  <div class="form-row">
			<div class="form-group col-md-4">
			  <label>Merk 1</label>
			  <input name="item_brand_1" class="form-control form-control-sm" value="{{ @POST.item_brand_1 }}">
			</div>
			<div class="form-group col-md-4">
			  <label>Merk 2</label>
			  <input name="item_brand_2" class="form-control form-control-sm" value="{{ @POST.item_brand_2 }}">
			</div>
			<div class="form-group col-md-4">
			  <label>Merk 3</label>
			  <input name="item_brand_3" class="form-control form-control-sm" value="{{ @POST.item_brand_3 }}">
			</div>
		  </div>
		  <div class="form-group">
			<label>Catatan</label>
			<input name="item_note" class="form-control form-control-sm" value="{{ @POST.item_note }}">
		  </div>
		</div>
		<div class="col-md-4">
		  <div class="form-group">
			<div class="card" style="margin-bottom: 24px;">
			  <div class="card-body box-profile">
				<div class="text-center">
				  <check if="{{ pathinfo(@POST.item_image, PATHINFO_EXTENSION) == 'pdf' }}">
				    <true>
					  <img id="preview_image" class="profile-user-img img-fluid" src="../../ui/assets/img/pdf.png" width="250">
				    </true>
				  </check>
				</div>
			  </div>
			</div>
		  </div>
		  <input type="file" name="item_image" class="form-control form-control-sm" onchange="return previewImage(this)">
		  <input type="hidden" name="item_image_temp" class="form-control form-control-sm" value="{{ @POST.item_image }}">
		</div>
	  </div>
	</div>
    <div class="card-footer bg-whitesmoke">
      <button type="submit" name="update" class="btn btn-primary btn-sm btn-form"><b>SAVE</b></button>
      <a href="javascript:void(0)" class="btn btn-danger btn-sm btn-form" onclick="window.top.close()"><b>EXIT</b></a>
    </div>
  </form>
</div>