<div class="">
  <form action="{{ @BASE.'/rework/create' }}" method="POST" enctype="multipart/form-data">
	<input type="hidden" name="invoice_id" value="{{ @POST.invoice_id }}">
	<input type="hidden" name="rework_by" value="{{ @SESSION.id }}">
    <div class="row">
	  <div class="col-md-6">
		<div class="form-group row">
		  <label class="col-sm-3"><b>Tgl. Rework</b></label>
		  <div class="col-md-4">
		    <input type="date" name="rework_date_in" class="form-control form-control-sm form-app" data-toggle="tooltip" title="Tgl. Rework" value="{{ date('Y-m-d') }}">
		  </div>
		</div>
		<div class="form-group row">
		  <label class="col-sm-3"><b>Mekanik</b></label>
		  <div class="col-md-4">
		    <input name="rework_mechanic" class="form-control form-control-sm form-app" data-toggle="tooltip" title="Mekanik">
		  </div>
		</div>
		<div class="form-group row">
		  <label class="col-sm-3"><b>Serial Number</b></label>
		  <div class="col-md-4">
		    <input class="form-control form-control-sm form-app" value="{{ @POST.quotation_serial_number }}" readonly>
		  </div>
		</div>
		<div class="form-group row">
		  <label class="col-sm-3"><b>Engine</b></label>
		  <div class="col-md-4">
		    <input class="form-control form-control-sm form-app" value="{{ @POST.quotaiton_engine }}" readonly>
		  </div>
		</div>
	  </div>
	  
	  <div class="col-md-6">
		<div class="form-group row">
		  <label class="col-sm-3"><b>Kode Pelanggan</b></label>
		  <div class="col-md-4">
			<input name="customer_code" class="form-control form-control-sm form-app" placeholder="ID Supplier" data-toggle="tooltip" title="ID PELANGGAN" value="{{ @POST.customer_code }}" readonly>
		  </div>
		  <div class="col-md-5">
			<input name="customer_name" class="form-control form-control-sm form-app" placeholder="Nama Supplier" value="{{ @POST.customer_name }}" readonly>
		  </div>
		</div>
		<div class="form-group row">
		  <label class="col-sm-3"><b>Alamat</b></label>
		  <div class="col-md-9">
			<input name="customer_address" class="form-control form-control-sm form-app" placeholder="Alamat" value="{{ @POST.customer_address }} / {{ @POST.customer_city }}" readonly>
		  </div>
		</div>
		<div class="form-group row">
		  <label class="col-sm-3"><b>No. Telepon</b></label>
		  <div class="col-md-4">
			<input name="customer_phone" class="form-control form-control-sm form-app" placeholder="No. Telepon" value="{{ @POST.customer_phone }}" readonly>
		  </div>
		</div>
	  </div>
	</div>
	  
	  <div class="row mr-0 ml-0">
		<table class="table table-bordered table-responsive">
		  <thead>
			<tr class="bg-primary">
			  <th class="col-md-1">Kode</th>
			  <th class="col-md-1">Part Number</th>
			  <th class="col-md-1">Nama Barang</th>
			  <th class="col-md-1">Unit</th>
			  <th class="col-md-1">Qty</th>
			  <th class="col-md-1">Modal</th>
			  <th class="col-md-1">Price</th>
			  <th class="col-md-1">Merk</th>
			  <th class="col-md-1">Total</th>
			  <th class="col-md-1">#</th>
			</tr>
		  </thead>
		  <tbody>			
			<loop from="{{ @i=0 }}" to="{{ @i < 5 }}" step="{{ @i++ }}">
			<tr id="item_{{ @i }}">
			  <td>
			    <input id="{{ @i }}" name="data[{{ @i }}][rework_detail_item_code]" class="item" style="width:150px" onchange="return getData(this.id, this.value)">
			  </td>
			  <td>
			    <input id="item_part_no_{{ @i }}" name="data[{{ @i }}][rework_detail_item_part_no]" style="width:150px">
			  </td>
			  <td><input id="item_desc_{{ @i }}" name="data[{{ @i }}][rework_detail_item_desc]" style="width:250px"></td>
			  <td><input id="item_unit_{{ @i }}" name="data[{{ @i }}][rework_detail_unit]" style="width:150px"></td>
			  <td>
			    <input id="item_qty_{{ @i }}" name="data[{{ @i }}][rework_detail_qty]" class="number-only" style="width:30px" onkeyup="return getTotal({{ @i }})">
			  </td>
			  <td>
			    <input id="item_price_temp_{{ @i }}" name="data[{{ @i }}][rework_detail_unit_price_temp]" class="number-only" style="width:100px">
			  </td>
			  <td>
			    <input id="item_price_{{ @i }}" name="data[{{ @i }}][rework_detail_unit_price]" class="number-only" style="width:100px" onkeyup="return getTotal({{ @i }})">
			  </td>
			  <td><input id="item_brand_{{ @i }}" name="data[{{ @i }}][rework_detail_brand]" style="width:100px"></td>
			  <td>
			    <input id="item_amount_{{ @i }}" name="data[{{ @i }}][rework_detail_amount]" class="number-only amount" style="width:100px">
			  </td>
			  <td>
			    <center>
				  <a href="javascript:void(0)" class="text-danger" onclick="return clearRow({{ @i }})">
				    <i class="fa fa-trash"></i>
				  </a>
				</center>
			  </td>
			</tr>
			</loop>
		  </tbody>
		</table>
	  </div>
	  
	  <div class="row">
		<div class="col-md-9">
		  <div class="form-group row">
			<label class="col-md-2"><b>Nozzle</b></label>
			<div class="col-md-8">
			  <input class="form-control form-control-sm form-app" value="{{ @POST.quotation_nozzle }}" readonly>
			</div>
		  </div>
		  <div class="form-group row">
			<label class="col-md-2"><b>Problem</b></label>
			<div class="col-md-8">
			  <input name="rework_problem" class="form-control form-control-sm form-app">
			</div>
		  </div>
		  <div class="form-group row">
			<label class="col-md-2"><b>Action</b></label>
			<div class="col-md-8">
			  <input name="rework_action" class="form-control form-control-sm form-app">
			</div>
		  </div>
		  <div class="form-group row">
			<label class="col-md-2"><b>Keterangan</b></label>
			<div class="col-md-8">
			  <input name="rework_note" class="form-control form-control-sm form-app">
			</div>
		  </div>
		</div>
		
		<div class="col-md-3">
		  <table class="table table-bordered table-striped">
			<tr>
			  <th class="col-md-6">PART</th>
			  <td style="border-right-color:transparent">Rp</td>
			  <td class="col-md-6 text-right">
				<b><span id="part_charge_display"></span></b>
			    <input type="hidden" id="part_charge" name="rework_total">
			  </td>
			</tr>
		  </table>
		</div>
	  </div>
	</div>
	<div class="card-footer">
	  <button type="submit" name="create" class="btn btn-primary btn-sm btn-form"><b>SAVE</b></button>
	  <a href="{{ @BASE.'/rework' }}" class="btn btn-danger btn-sm btn-form"><b>EXIT</b></a>
	</div>
  </form>
</div>

<script>
// Item
var data = "../../app/views/autocomplete/item.php";
$(".item").autocomplete({
  source: data,
  minLength: 2,
  select: function(event, ui){
    $(this).val(ui.item.item_code);
      return false;
  }
}).each(function(){
  $(this).autocomplete("instance")._renderItem = function(ul, item){
    return $("<li>")
    .append("<div style='font-size:12px; line-height:20px'><span style='display:block'><b>" + item.item_code + "</b></span><span><i>" + item.item_part_no + "</i> | <i>" + item.item_desc + "</i></span></div>")
    .appendTo(ul);
  }
});
</script>