<div class="card p-2 font-12">
  <div class="row mb-1">
	<div class="col-md-8">
	  <a href="javascript:void(0)" class="btn btn-success btn-sm mr-1" data-toggle="modal" data-target="#create_invoice">
	    Invoice Baru
	  </a>
	  <a href="{{ @BASE.'/invoice-cancel' }}" class="btn btn-danger btn-sm">Lihat Invoice Batal</a>
	</div>
	<div class="col-md-4 pull-right">
	  <input id="searching" class="form-control form-control-sm" placeholder="Cari Data ...">
	</div>
  </div>
  
  <table id="simple_table" class="table table-striped" style="width:100%">
	<thead class="bg-app">
      <tr>
		<th class="width-75">Invoice</th>
        <th class="width-125">Tgl. Invoice</th>
        <th class="width-500">Nama Pelanggan</th>
        <th class="width-150">Total</th>
        <th class="width-150">Penawaran</th>
        <th class="width-150">Pilihan</th>
      </tr>
    </thead>
	<tbody>
	  <repeat group="{{ @data_invoice }}" value="{{ $invoice }}">
	    <tr>
		  <td>{{ @invoice.invoice_number }}</td>
		  <td>{{ date('d F Y', strtotime(@invoice.invoice_date)) }}</td>
		  <td>{{ @invoice.customer_name }}</td>
		  <td>Rp <span style="float:right; margin-right:25px">{{ number_format(@invoice.invoice_total) }}</span></td>
		  <td>{{ @invoice.quotation_number }}</td>
		  <td>
			<a href="{{ @BASE.'/invoice/print/'.@invoice.invoice_id }}" class="badge badge-success p-1" title="Cetak Invoice" target="_blank"><i class="fa fa-print"></i></a>
			<check if="{{ @SESSION.level == 1 }}">
			  <a href="{{ @BASE.'/invoice/view/'.@invoice.invoice_id }}" class="badge badge-warning p-1" title="Lihat Invoice"><i class="fa fa-search"></i></a>
			</check>
			<a href="{{ @BASE.'/invoice/update/'.@invoice.invoice_id }}" class="badge badge-info p-1" title="Perbarui Data"><i class="fa fa-pen"></i></a>
			<a href="{{ @BASE.'/invoice/cancel/'.@invoice.invoice_id }}" class="badge badge-danger p-1" title="Batalkan Invoice" onclick="return confirm('Anda ingin membatalkan invoice nomor : {{ @invoice.invoice_number }} ?')"><i class="fa fa-ban"></i></a>
		  </td>
		</tr>
	  </repeat>
	</tbody>
  </table>
</div>

<div class="modal fade" id="create_invoice" role="dialog">
  <div class="modal-dialog modal-sm">
	<div class="modal-content">
	  <div class="modal-header bg-info">
		<h5 class="modal-title"><span class="text-white">Pilih No. Penawaran</span></h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span>&times;</span>
		</button>
	  </div>
	  <form action="{{ @BASE.'/invoice/from-quotation/' }}" method="POST">
		<div class="modal-body">
		  <div class="row p-2">
			<label>No. Penawaran</label>
			<input name="quotation_number" class="form-control form-control-sm" list="data-quotation" autocomplete="off" required>
		  </div>
		</div>
		<div class="modal-footer bg-light">
		  <button type="submit" name="create" class="btn btn-primary btn-sm btn-form">Submit</button>
		  <button type="button" class="btn btn-danger btn-sm btn-form" data-dismiss="modal">Tutup</button>
		</div>
	  </form>
	</div>
  </div>
</div>

<datalist id="data-quotation">
  <repeat group="{{ @data_quotation }}" value="{{ $quotation }}">
    <option value="{{ @quotation.quotation_number }}">{{ @quotation.quotation_number }}
  </repeat>
</datalist>