<div class="card p-2">
  <F3:repeat group="{{ \Flash::instance()->getMessages() }}" value="{{ @msg }}">
	<div class="alert alert-{{ @msg.status }} alert-dismissible show fade">
	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	  <i class="fa fa-info-circle"></i>&nbsp;&nbsp;{{ @msg.text | esc }}
	</div>
  </F3:repeat>

  <div class="row mb-1">
	<div class="col-md-8">
	  <a href="javascript:void(0)" class="btn btn-success btn-sm" data-toggle="modal" data-target="#create_invoice">
	    Invoice Baru
	  </a>
	  <button type="button" class="btn btn-danger btn-sm">Rekap Invoice</a>
	</div>
	<div class="col-md-4 pull-right">
	  <div class="input-group">
		<input id="invoice_search" class="form-control form-control-sm" placeholder="Cari Data ...">
		<span class="input-group-append">
		  <a href="javascript:void(0)" class="btn btn-primary btn-sm"><i class="fa fa-search"></i></a>
		</span>
	  </div>
	</div>
  </div>
  
  <table id="invoice_table" class="table table-striped" style="width:100%">
	<thead class="bg-app">
      <tr>
		<th class="width-75">No. Invoice</th>
        <th class="width-100">Tgl. Invoice</th>
        <th class="width-500">Nama Pelanggan</th>
        <th class="width-150">Nilai Invoice</th>
        <th class="width-150">No. Penawaran</th>
        <th class="width-150">Pilihan</th>
      </tr>
    </thead>
	<tbody></tbody>
  </table>
</div>

<div class="modal fade" id="create_invoice" role="dialog">
  <div class="modal-dialog modal-sm">
	<div class="modal-content">
	  <div class="modal-header bg-info">
		<h5 class="modal-title"><span class="text-white">Pilih No. Penawaran</span></h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span>&times;</span>
		</button>
	  </div>
	  <form action="{{ @BASE.'/invoice/from-quotation/' }}" method="POST">
		<div class="modal-body">
		  <div class="row p-2">
			<label>No. Penawaran</label>
			<input name="quotation_number" class="form-control form-control-sm" list="data-quotation" required>
		  </div>
		</div>
		<div class="modal-footer bg-light">
		  <button type="submit" name="create" class="btn btn-primary btn-sm btn-form">Submit</button>
		  <button type="button" class="btn btn-danger btn-sm btn-form" data-dismiss="modal">Tutup</button>
		</div>
	  </form>
	</div>
  </div>
</div>

<datalist id="data-quotation">
  <repeat group="{{ @data_quotation }}" value="{{ $quotation }}">
    <option value="{{ @quotation.quotation_number }}">{{ @quotation.quotation_number }}
  </repeat>
</datalist>