<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <div class="card card-statistic-1">
      <div class="card-icon bg-success">
        <i class="fas fa-file-invoice-dollar"></i>
      </div>
      <div class="card-wrap">
        <div class="card-header"><h4>Penjualan</h4></div>
        <div class="card-body">{{ @total_invoice }}</div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <div class="card card-statistic-1">
      <div class="card-icon bg-info">
        <i class="fas fa-newspaper"></i>
      </div>
      <div class="card-wrap">
        <div class="card-header"><h4>Penawaran</h4></div>
        <div class="card-body">{{ @total_quotation }}</div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <div class="card card-statistic-1">
      <div class="card-icon bg-danger">
        <i class="fas fa-recycle"></i>
      </div>
      <div class="card-wrap">
        <div class="card-header"><h4>Rework</h4></div>
        <div class="card-body">{{ @total_rework }}</div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <div class="card card-statistic-1">
      <div class="card-icon bg-warning">
        <i class="fas fa-boxes"></i>
      </div>
      <div class="card-wrap">
        <div class="card-header"><h4>Barang</h4></div>
        <div class="card-body">{{ @total_item }}</div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 col-md-12 col-12 col-sm-12">
    <div class="card">
      <div class="card-header"><h4>Statistik Penjualan Tahun {{ @year }}</h4>
	    <div class="card-header-action">
		  <form action="{{ @BASE.'/' }}" method="POST" class="dropdown">
			<button type="button" id="dropdownMenuButton" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			  Tahun
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			  <input type="submit" name="year" class="dropdown-item" value="2020">
			  <input type="submit" name="year" class="dropdown-item" value="2019">
			</div>
		  </form>
        </div>
      </div>
      <div class="card-body">
        <canvas id="myChart" height="182"></canvas>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12 col-12 col-sm-12">
    <div class="card">
      <div class="card-header"><h4>History Stok</h4></div>
      <div class="card-body">
        <ul class="list-unstyled list-unstyled-border">
		  <repeat group="{{ @data_stock_history }}" value="{{ $stock_history }}">
            <li class="media">
              <img class="mr-3 rounded-circle" width="50" src="../../ui/assets/img/img.png" alt="avatar">
              <div class="media-body">
                <div class="float-right text-primary">{{ date('d/m/y', strtotime(@stock_history.stock_history_date)) }}</div>
                <div class="media-title">{{ @stock_history.item_desc }}</div>
                <span class="text-small text-muted">Purchase / Invoice No. : {{ @stock_history.purchase_number }} {{ @stock_history.invoice_number }} {{ @stock_history.rework_number }}</span>
              </div>
            </li>
		  </repeat>
		</ul>
      </div>
    </div>
  </div>
</div>