body {
	/* font-family: Roboto, Arial, sans-serif; */
	/* font-size: 85%; */
}
section {
	margin: 15px -10px;
}
.table thead th {
	vertical-align: middle;
}
.table:not(.table-sm) thead th {
	color: white;
}
.dataTables_filter {
	display: none;
}
.number-only {
	text-align: right;
}
.dropdown-divider {
	border-top: 1px solid #cccccc;
}
.navbar-bg {
	height: 70px;
}
.page-title {
	color: white;
	margin-top: 5px;
}
select.form-control:not([size]):not([multiple]) {
	height: 30px;
	padding: 5px;
}
.btn-form {
	width: 100px;
}
.modal-header {
	padding-bottom: 20px;
}
.text-white {
	color: white;
}
.form-control {
	border: 1px solid #cccccc;
}
.form-control[readonly]:focus {
	background-color: #e9ecef;
}
.form-app {
	height: 25px;
	padding: 1px 5px;
	font-size: 12px
}
.form-group {
	margin-bottom: 10px;
}
label {
	margin-bottom: 0px;
}
input {
	border: 1px solid #c5cbd0;
}
.table:not(.table-sm):not(.table-md):not(.dataTable) th, .table:not(.table-sm):not(.table-md):not(.dataTable) td {
	height: 30px;
	font-size: 12px;
	text-align: center;
	color: black;
	padding: 0px 5px;
	border: 1px solid #858585
}
.readonly {
	background-color: #e9ecef;
}