section {
	margin: 15px -10px;
}
.table thead th {
	vertical-align: middle;
}
.table:not(.table-sm) thead th {
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}
.dataTables_filter {
	display: none;
}
.number-only {
	text-align: right;
}
.dropdown-divider {
	border-top: 1px solid #cccccc;
}
.navbar-bg {
	height: 70px;
}
.page-title {
	color: white;
	margin-top: 5px;
}
select.form-control:not([size]):not([multiple]) {
	height: 30px;
	padding: 5px;
}
select.form-control:not([size]):not([multiple]).form-app {
	height: 20px;
	padding: 0px;
	font-size: 11px
}
.btn-form {
	width: 100px;
}
.modal-header {
	padding-bottom: 20px;
}
.text-white {
	color: white;
}
.text-left {
	text-align: left;
}
.form-control {
	border: 1px solid #858585;
}
.form-control[readonly], .form-control[readonly]:focus {
	background-color: #f4f6f9;
}
.form-app {
	height: 20px;
	padding: 0px 5px;
	font-size: 11px
}
.form-group {
	margin-bottom: 5px;
}
label {
	margin-bottom: 0px;
}
input:focus {
	border: 1px solid #95a0f4;
}
.table:not(.table-sm):not(.table-md):not(.dataTable) th, .table:not(.table-sm):not(.table-md):not(.dataTable) td {
	height: 25px;
	font-size: 11px;
	text-align: left;
	color: black;
	padding: 0px 5px;
	border: 1px solid #858585
}
.readonly {
	background-color: #f4f6f9;
}
.table td, .table th {
	padding: 5px 10px;
	vertical-align: middle;
}
.table-striped tbody tr:nth-of-type(2n+1) {
	background-color: #f0f0f0;
}
.input-group > .input-group-prepend > .input-group-text {
	border-color: #858585;
	background-color: #c2c3c4;
}
.form-control::-webkit-input-placeholder{
	color:#9f9f9f;opacity:1
}
.form-control::-moz-placeholder{
	color:#9f9f9f;opacity:1
}
.form-control:-ms-input-placeholder{
	color:#9f9f9f;opacity:1
}
.form-control::-ms-input-placeholder{
	color:#9f9f9f;opacity:1
}
.form-control::placeholder{
	color:#9f9f9f;opacity:1
}
.width-75 {
	width: 75px;
}
.width-100 {
	width: 100px;
}
.width-125 {
	width: 125px;
}
.width-150 {
	width: 150px;
}
.width-175 {
	width: 175px;
}
.width-400 {
	width: 400px;
}
.width-500 {
	width: 500px;
}
.span-app {
	padding: 5px;
	font-size: 12px;
}
.font-12 {
	font-size: 12px;
}
.btn-app {
	line-height: 15px;
}
.btn.btn-sm {
	padding: 3px 10px;
}
.popover-body {
	font-size: 12px;
}
hr {
	margin: 5px;
}