<div class="">
  <form action="{{ @BASE.'/quotation/create' }}" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="quotation_status" value="1">
    <div class="">
	  <div class="row">
		<div class="col-md-2">
		  <div class="input-group mb-2">
			<div class="input-group-prepend">
			  <span class="input-group-text form-app">NO. :</span>
			</div>
			<input name="" class="form-control form-control-sm form-app" value="{{ @quotation_number }}" readonly>
		  </div>
		</div>
		<div class="col-md-2 offset-6">
		  <div class="input-group mb-2">
			<div class="input-group-prepend">
			  <span class="input-group-text form-app">TT</span>
			</div>
			<input type="date" name="quotation_received_date" class="form-control form-control-sm form-app" data-toggle="tooltip" title="Tgl. TANDA TERIMA" required>
		  </div>
		</div>
		<div class="col-md-2">
		  <div class="form-group">
			<input type="date" name="" class="form-control form-control-sm form-app" value="{{ date('Y-m-d') }}" data-toggle="tooltip" title="Tgl. PENAWARAN" readonly>
		  </div>
		</div>
	  </div>
	  
	  <div class="row">
		<div class="col-md-2">
		  <div class="form-group">
			<input name="customer_code" class="typeahead form-control form-control-sm form-app" placeholder="ID Pelanggan" data-toggle="tooltip" title="ID PELANGGAN" required>
			<input type="hidden" name="customer_id" class="form-control form-control-sm form-app">
		  </div>
		</div>
		<div class="col-md-6">
		  <div class="form-group">
			<input name="customer_name" class="form-control form-control-sm form-app" placeholder="Nama Pelanggan" readonly>
		  </div>
		</div>
		<div class="col-md-2">
		  <div class="form-group">
			<input name="customer_phone" class="form-control form-control-sm form-app" placeholder="No. Telepon" readonly>
		  </div>
		</div>
		<div class="col-md-2">
		  <div class="form-group">
			<input name="customer_city" class="form-control form-control-sm form-app" placeholder="Kota" readonly>
		  </div>
		</div>
	  </div>
	  <div class="row">
		<div class="col-md-6 offset-md-2">
		  <div class="form-group">
			<input name="customer_address" class="form-control form-control-sm form-app" placeholder="Alamat Pelanggan" readonly>
		  </div>
		</div>
		<div class="col-md-4">
		  <div class="form-group">
			<input name="customer_note" class="form-control form-control-sm form-app" placeholder="Catatan" readonly>
		  </div>
		</div>
	  </div>
	  
	  <div class="row">
		<div class="col-md-2">
		  <div class="form-group">
			<select name="quotation_model" class="form-control form-control-sm form-app" data-toggle="tooltip" title="MODEL" required>
			  <option disabled selected>-- PILIH MODEL --</option>
			  <repeat group="{{ @data_model }}" value="{{ $model }}">
				<option value="{{ @model.model_desc }}">{{ @model.model_code }} | {{ @model.model_desc }}</option>
			  </repeat>
			</select>
		  </div>
		</div>
		<div class="col-md-2">
		  <div class="form-group">
			<input name="quotation_engine" class="form-control form-control-sm form-app" placeholder="Engine" data-toggle="tooltip" title="ENGINE">
		  </div>
		</div>
		<div class="col-md-3">
		  <div class="form-group">
			<input name="quotation_pump_assy" class="form-control form-control-sm form-app" placeholder="Pump Assy" data-toggle="tooltip" title="PUMP ASSY">
		  </div>
		</div>
		<div class="col-md-3">
		  <div class="form-group">
			<input name="quotation_po_wo" class="form-control form-control-sm form-app" placeholder="PO/WO" data-toggle="tooltip" title="PO/WO">
		  </div>
		</div>
		<div class="col-md-2">
		  <div class="form-group">
			<input name="quotation_serial_number" class="form-control form-control-sm form-app" placeholder="S/N" data-toggle="tooltip" title="S/N">
		  </div>
		</div>
	  </div>
	  
	  <div class="row mr-0 ml-0">
		<table class="table table-bordered table-responsive">
		  <thead>
			<tr class="bg-primary">
			  <th class="col-md-1">Kode</th>
			  <th class="col-md-1">No. Part</th>
			  <th class="col-md-1">Deskripsi</th>
			  <th class="col-md-1">Qty</th>
			  <th class="col-md-1">Up</th>
			  <th class="col-md-1">Modal</th>
			  <th class="col-md-1">Harga</th>
			  <th class="col-md-1">Harga (Up)</th>
			  <th class="col-md-1">Merk</th>
			  <th class="col-md-1">Total</th>
			  <th class="col-md-1">#</th>
			</tr>
		  </thead>
		  <tbody>
			<loop from="{{ @i=0 }}" to="{{ @i < 10 }}" step="{{ @i++ }}">
			<tr id="item_{{ @i }}">
			  <td>
			    <input id="{{ @i }}" name="data[{{ @i }}][quotation_detail_item_code]" class="item" style="width:100px" onchange="return getData(this.id, this.value)" >
			  </td>
			  <td>
			    <input id="item_part_no_{{ @i }}" name="data[{{ @i }}][quotation_detail_item_part_no]" style="width:100px">
			  </td>
			  <td><input id="item_desc_{{ @i }}" name="data[{{ @i }}][quotation_detail_item_desc]" style="width:250px"></td>
			  <td>
			    <input id="item_qty_{{ @i }}" name="data[{{ @i }}][quotation_detail_qty]" class="number-only" style="width:30px" onkeyup="return getTotal({{ @i }})">
			  </td>
			  <td><input name="data[{{ @i }}][quotation_detail_qty_up]" class="number-only bg-info" style="width:30px"></td>
			  <td>
			    <input id="item_price_temp_{{ @i }}" name="data[{{ @i }}][quotation_detail_unit_price_temp]" class="number-only" style="width:75px">
			  </td>
			  <td>
			    <input id="item_price_{{ @i }}" name="data[{{ @i }}][quotation_detail_unit_price]" class="number-only" style="width:75px" onkeyup="return getTotal({{ @i }})">
			  </td>
			  <td><input type="number" name="data[{{ @i }}][quotation_detail_unit_price_up]" class="number-only bg-info" style="width:75px" step="1000"></td>
			  <td><input id="item_brand_{{ @i }}" name="data[{{ @i }}][quotation_detail_brand]" style="width:100px"></td>
			  <td>
			    <input id="item_amount_{{ @i }}" name="data[{{ @i }}][quotation_detail_amount]" class="number-only amount" style="width:100px" step="1000">
			  </td>
			  <td>
			    <center>
				  <a href="javascript:void(0)" class="text-danger" onclick="return clearRow({{ @i }})">
				    <i class="fa fa-trash"></i>
				  </a>
				</center>
			  </td>
			</tr>
			</loop>
		  </tbody>
		</table>
	  </div>
	  
	  <div class="row">
		<div class="col-md-9">
		  <div class="form-group row">
			<label class="col-md-2">NOZZLE</label>
			<div class="col-md-8">
			  <input name="quotation_nozzle" class="form-control form-control-sm form-app">
			</div>
		  </div>
		  <div class="form-group row">
			<label class="col-md-2">KETERANGAN</label>
			<div class="col-md-8">
			  <input name="quotation_note_1" class="form-control form-control-sm form-app">
			</div>
		  </div>
		  <div class="form-group row">
			<label class="col-md-2"></label>
			<div class="col-md-8">
			  <input name="quotation_note_2" class="form-control form-control-sm form-app">
			</div>
		  </div>
		</div>
		
		<div class="col-md-3">
		  <table class="table table-bordered table-striped">
			<tr>
			  <th class="col-md-6">PART</th>
			  <td style="border-right-color:transparent">Rp</td>
			  <td class="col-md-6 text-right">
				<b><span id="part_charge_display"></span></b>
			    <input type="hidden" id="part_charge" name="quotation_part_charge">
			  </td>
			</tr>
			<tr>
			  <th>SERVICE</th>
			  <td style="border-right-color:transparent">Rp</td>
			  <td><input id="service_charge" name="quotation_service_charge" class="number-only" style="width:125px" value="0"></td>
			</tr>
			<tr>
			  <th>DISKON</th>
			  <td style="border-right-color:transparent">Rp</td>
			  <td><input id="discount" name="quotation_discount" class="number-only" style="width:125px" value="0"></td>
			</tr>
			<tr>
			  <th>PPN &nbsp;
			    <input id="ppn" name="quotation_ppn" maxlength="2" class="number-only" value="0" style="width:25px"> %
			  </th>
			  <td style="border-right-color:transparent">Rp</td>
			  <td class="text-right">
			    <span id="ppn_display"></span>
			  </td>
			</tr>
			<tr>
			  <th>TOTAL</th>
			  <td style="border-right-color:transparent">Rp</td>
			  <td class="text-right">
			    <b><span id="grand_total_display"></span></b>
			    <input type="hidden" id="grand_total" name="quotation_total">
			  </td>
			</tr>
		  </table>
		</div>
	  </div>
	</div>
	<div class="card-footer">
	  <button type="submit" name="create" class="btn btn-primary btn-sm btn-form"><b>Simpan</b></button>
	  <a href="../../quotation" class="btn btn-danger btn-sm btn-form"><b>Kembali</b></a>
	</div>
  </form>
</div>