<div class="card p-2 font-12">
  <div class="row mb-1">
	<div class="col-md-6">
	  <a href="{{ @BASE.'/quotation/create' }}" class="btn btn-success btn-sm mr-1">
	    Penawaran Baru
	  </a>
	  <a href="{{ @BASE.'/quotation-cancel' }}" class="btn btn-danger btn-sm">Batal</a>
	</div>
	<div class="col-md-2 pull-right">
      <div class="input-group">
	    <select id="month" class="form-control" style="height:31px">
		  <option value="%">Semua</option>
		  <option value="01">Januari</option>
		  <option value="02">Februari</option>
		  <option value="03">Maret</option>
		  <option value="04">April</option>
		  <option value="05">Mei</option>
		  <option value="06">Juni</option>
		  <option value="07">Juli</option>
		  <option value="08">Agustus</option>
		  <option value="09">September</option>
		  <option value="10">Oktober</option>
		  <option value="11">November</option>
		  <option value="12">Desember</option>
	    </select>
	    <input id="year" type="number" class="form-control form-control-sm" value="{{ date('Y') }}">
	  </div>
	</div>
	<div class="col-md-4 pull-right">
	  <div class="input-group">
        <input id="quotation_search" class="form-control form-control-sm" placeholder="Find ........">
        <span class="input-group-append">
          <a id="table_refresh" href="javascript:void(0)" class="btn btn-primary btn-sm"><i class="fa fa-sync"></i></a>
        </span>
      </div>
	  <!-- <input id="quotation_search" class="form-control form-control-sm" placeholder="Find ........"> -->
	</div>
  </div>
  
  <table id="quotation_table" class="table table-striped" style="width:100%">
	<thead class="bg-app">
      <tr>
        <th class="width-75">Penawaran</th>
		<th class="width-75">Tanggal</th>
        <th>Pelanggan</th>
        <th>S/N</th>
        <th>Engine</th>
        <th>Total</th>
        <th>Invoice</th>
        <th>Pilihan</th>
      </tr>
    </thead>
	<tbody></tbody>
  </table>
</div>