<div class="card p-2 font-12">
  <div class="row mb-1">
	<div class="col-md-8">
	  <a href="{{ @BASE.'/quotation/create' }}" class="btn btn-success btn-sm mr-1">
	    Penawaran Baru
	  </a>
	</div>
	<div class="col-md-4 pull-right">
	  <input id="quotation_cancel_search" class="form-control form-control-sm font-12" placeholder="Cari Data ...">
	</div>
  </div>
  
  <table id="quotation_cancel_table" class="table table-striped" style="width:100%">
	<thead class="bg-app">
      <tr>
        <th>Penawaran</th>
		<th>Tgl. Penawaran</th>
        <th>Nama Pelanggan</th>
        <th>S/N</th>
        <th>Engine</th>
        <th>Total</th>
        <th>Invoice</th>
        <th>Pilihan</th>
      </tr>
    </thead>
	<tbody></tbody>
  </table>
</div>