<div class="" style="font-size:12px">
  <form action="{{ @BASE.'/purchase/create' }}" method="POST" enctype="multipart/form-data">
    <div class="row">
	  <div class="col-md-6">
		<div class="form-group row">
		  <label class="col-sm-3"><b>No. Invoice</b></label>
		  <div class="col-md-4">
		    <input name="purchase_number" class="form-control form-control-sm form-app" placeholder="No. Invoice" data-toggle="tooltip" title="No. Invoice" required>
		  </div>
		</div>
		<div class="form-group row">
		  <label class="col-sm-3"><b>Tanggal</b></label>
		  <div class="col-md-4">
		    <input type="date" name="purchase_date" class="form-control form-control-sm form-app" data-toggle="tooltip" title="Tanggal" required>
		  </div>
		</div>
	  </div>
	  
	  <div class="col-md-6">
		<div class="form-group row">
		  <label class="col-sm-3"><b>Kode Supplier</b></label>
		  <div class="col-md-3">
			<input name="supplier_code" class="form-control form-control-sm form-app" list="data-supplier" placeholder="Kode Supplier" data-toggle="tooltip" title="KODE SUPPLIER" autocomplete="off" required>
			<input type="hidden" name="supplier_id" class="form-control form-control-sm form-app">
		  </div>
		  <div class="col-md-6">
			<input name="supplier_name" class="form-control form-control-sm form-app" placeholder="Nama Supplier" readonly>
		  </div>
		</div>
		<div class="form-group row">
		  <label class="col-sm-3"><b>Alamat</b></label>
		  <div class="col-md-6">
			<input name="supplier_address" class="form-control form-control-sm form-app" placeholder="Alamat" readonly>
		  </div>
		  <div class="col-md-3">
			<input name="supplier_city" class="form-control form-control-sm form-app" placeholder="Kota" readonly>
		  </div>
		</div>
		<div class="form-group row">
		  <label class="col-sm-3"><b>Telepon</b></label>
		  <div class="col-md-4">
			<input name="supplier_phone" class="form-control form-control-sm form-app" placeholder="Telepon" readonly>
		  </div>
		</div>
	  </div>
	  
	  <div class="row m-3">
		<table class="table table-bordered table-responsive">
		  <thead>
			<tr class="bg-primary">
			  <th class="width-100">Kode</th>
			  <th class="width-100">Part Number</th>
			  <th class="width-500">Nama Barang</th>
			  <th class="width-75">Qty</th>
			  <th class="width-150">Price</th>
			  <th class="width-150">Merk</th>
			  <th class="width-150">Siapa</th>
			  <th class="width-150">Amount</th>
			  <th>#</th>
			</tr>
		  </thead>
		  <tbody>
			<loop from="{{ @i=0 }}" to="{{ @i < 10 }}" step="{{ @i++ }}">
			<tr id="item_{{ @i }}">
			  <td>
			    <input id="{{ @i }}" name="data[{{ @i }}][item_code]" style="width:100%" onchange="return getData(this.id, this.value)" list="data-item" autocomplete="off">
			    <input id="item_id_{{ @i }}" type="hidden" name="data[{{ @i }}][item_id]">
			  </td>
			  <td>
			    <input id="item_part_no_{{ @i }}" name="data[{{ @i }}][item_part_no]" style="width:100%">
			  </td>
			  <td><input id="item_desc_{{ @i }}" name="data[{{ @i }}][item_desc]" style="width:100%"></td>
			  <td>
			    <input type="number" id="item_qty_{{ @i }}" name="data[{{ @i }}][item_qty]" class="number-only" style="width:100%" onkeyup="return getTotal({{ @i }})">
			  </td>
			  <td>
			    <input id="item_price_{{ @i }}" name="data[{{ @i }}][item_price]" class="number-only" style="width:100%" onkeyup="return getTotal({{ @i }})">
			  </td>
			  <td>
			    <input id="item_brand_{{ @i }}" name="data[{{ @i }}][item_brand_1]" style="width:100%">
			  </td>
			  <td>
			    <input id="item_brand_{{ @i }}" name="data[{{ @i }}][item_brand_1]" style="width:100%">
			  </td>
			  <td>
			    <input id="item_brand_{{ @i }}" name="data[{{ @i }}][item_brand_1]" class="number-only" style="width:100%">
			  </td>
			  <td>
			    <center>
				  <a href="javascript:void(0)" class="text-danger" onclick="return clearRow({{ @i }})">
				    <i class="fa fa-trash"></i>
				  </a>
				</center>
			  </td>
			</tr>
			</loop>
		  </tbody>
		  <tbody style="border-top:1px double">
			<tr>
			  <td colspan="6" style="border-color:transparent; border-right:1px solid"></td>
			  <td><b>Total Harga</b></td>
			  <td colspan="2"><input name="" class="number-only"></td>
			</tr>
			<tr>
			  <td colspan="6" style="border-color:transparent; border-right:1px solid"></td>
			  <td><b>PPN</b></td>
			  <td colspan="2"><input name="purchase_ppn" class="number-only"></td>
			</tr>
			<tr>
			  <td colspan="6" style="border-color:transparent; border-right:1px solid"></td>
			  <td><b>Grand Total</b></td>
			  <td colspan="2"><input name="purchase_total" class="number-only"></td>
			</tr>
		  </tbody>
		</table>
	  </div>
	</div>
	<div class="card-footer">
	  <button type="submit" name="create" class="btn btn-primary btn-sm btn-form"><b>Simpan</b></button>
	  <a href="../../purchase" class="btn btn-danger btn-sm btn-form"><b>Kembali</b></a>
	</div>
  </form>
</div>

<datalist id="data-supplier">
  <repeat group="{{ @data_supplier }}" value="{{ $supplier }}">
    <option value="{{ @supplier.supplier_code }}">{{ @supplier.supplier_code }} | {{ @supplier.supplier_name }}
  </repeat>
</datalist>

<datalist id="data-item">
  <repeat group="{{ @data_item }}" value="{{ $item }}">
    <option value="{{ @item.item_code }}">{{ @item.item_code }} | {{ @item.item_desc }}
  </repeat>
</datalist>