<style>
input, select, .form-control { font-size:12px }
</style>

<div class="">
  <form action="{{ @BASE.'/purchase/create' }}" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="purchase_by" value="{{ @SESSION.id }}">
    <div class="">
	  <div class="row">
		<div class="col-md-2">
		  <div class="input-group mb-2">
			<div class="input-group-prepend">
			  <span class="input-group-text form-app">INV</span>
			</div>
			<input name="purchase_number" class="form-control form-control-sm form-app" placeholder="No. Invoice" data-toggle="tooltip" title="No. Invoice" style="font-weight:bold" required>
		  </div>
		</div>
		<div class="col-md-2">
		  <div class="input-group mb-2">
			<div class="input-group-prepend">
			  <span class="input-group-text form-app">TGL</span>
			</div>
			<input type="date" name="purchase_date" class="form-control form-control-sm form-app" data-toggle="tooltip" title="Tanggal" value="{{ date('Y-m-d') }}" required>
		  </div>
		</div>
		<div class="col-md-1 offset-md-2">
		  <div class="form-group">
			<input name="supplier_code" class="form-control form-control-sm form-app" list="data-supplier" placeholder="Kode" data-toggle="tooltip" title="KODE SUPPLIER" autocomplete="off" style="font-weight:bold" required>
			<input type="hidden" name="supplier_id" class="form-control form-control-sm form-app">
		  </div>
		</div>
		<div class="col-md-3">
		  <div class="form-group">
			<input name="supplier_name" class="form-control form-control-sm form-app" placeholder="Nama Supplier" style="font-weight:bold" readonly>
		  </div>
		</div>
		<div class="col-md-2">
		  <div class="form-group">
			<input name="supplier_phone" class="form-control form-control-sm form-app" placeholder="Telepon" readonly>
		  </div>
		</div>
	  </div>
	  
	  <div class="row">
		<div class="col-md-4 offset-md-6">
		  <div class="form-group">
			<input name="supplier_address" class="form-control form-control-sm form-app" placeholder="Alamat" readonly>
		  </div>
		</div>
		<div class="col-md-2">
		  <div class="form-group">
			<input name="supplier_city" class="form-control form-control-sm form-app" placeholder="Kota" readonly>
		  </div>
		</div>
	  </div>
	  
	  <div class="row m-0">
		<table class="table table-bordered table-responsive">
		  <thead>
			<tr class="bg-primary">
			  <th class="width-125">Kode</th>
			  <th class="width-125">Part Number</th>
			  <th class="width-400">Nama Barang</th>
			  <th class="width-125">Unit</th>
			  <th class="width-75">Qty</th>
			  <th class="width-150">Price</th>
			  <th class="width-150">Merk</th>
			  <th class="width-400">Siapa</th>
			  <th class="width-150">Amount</th>
			  <th>#</th>
			</tr>
		  </thead>
		  <tbody>
			<loop from="{{ @i=0 }}" to="{{ @i < 10 }}" step="{{ @i++ }}">
			<tr id="item_{{ @i }}">
			  <td>
			    <input id="{{ @i }}" name="data[{{ @i }}][item_code]" class="item" style="width:100%" onchange="return getDataPurchase(this.id, this.value)" list="data-item" autocomplete="off">
			    <input id="item_id_{{ @i }}" type="hidden" name="data[{{ @i }}][item_id]">
			  </td>
			  <td>
			    <input id="item_part_no_{{ @i }}" name="data[{{ @i }}][item_part_no]" style="width:100%">
			  </td>
			  <td><input id="item_desc_{{ @i }}" name="data[{{ @i }}][item_desc]" style="width:100%"></td>
			  <td><input id="item_unit_{{ @i }}" name="data[{{ @i }}][item_unit]" style="width:100%"></td>
			  <td>
			    <input id="item_qty_{{ @i }}" name="data[{{ @i }}][item_qty]" class="number-only" style="width:100%" onkeyup="return getTotal({{ @i }})">
			  </td>
			  <td>
			    <input id="item_price_{{ @i }}" name="data[{{ @i }}][item_price]" class="number-only" style="width:100%" onkeyup="return getTotal({{ @i }})">
			  </td>
			  <td>
			    <!-- <input id="item_brand_{{ @i }}" name="data[{{ @i }}][item_brand]" style="width:100%"> -->
			    <select name="data[{{ @i }}][item_brand]" style="width:100%">
				  <option disabled selected></option>
				  <repeat group="{{ @data_merk }}" value="{{ $merk }}">
					<option value="{{ @merk.merk_desc }}">{{ @merk.merk_desc }}</option>
				  </repeat>
				</select>
			  </td>
			  <td>
			    <input id="item_to_{{ @i }}" name="data[{{ @i }}][item_to]" style="width:100%">
			  </td>
			  <td>
			    <input id="item_amount_{{ @i }}" name="data[{{ @i }}][item_amount]" class="number-only amount" style="width:100%" readonly>
			  </td>
			  <td>
			    <center>
				  <a href="javascript:void(0)" class="text-danger" onclick="return clearRow({{ @i }})">
				    <i class="fa fa-trash"></i>
				  </a>
				</center>
			  </td>
			</tr>
			</loop>
		  </tbody>
		  <tbody style="border-top:1px double">
			<tr>
			  <td colspan="7" style="border-color:transparent; border-right:1px solid"></td>
			  <td><b>Total Harga</b></td>
			  <td class="text-right" colspan="2">
				<b><span id="part_charge_display"></span></b>
			    <input type="hidden" id="part_charge">
			    <input type="hidden" id="service_charge" value="0">
			    <input type="hidden" id="discount" value="0">
				<input type="hidden" id="ppn" value="0">
			  </td>
			</tr>
			<tr>
			  <td style="border-color:transparent"><b>KETERANGAN</b></td>
			  <td colspan="5" style="border-color:transparent">
			    <input name="purchase_note" class="form-control form-control-sm form-app">
			  </td>
			  <td style="border-color:transparent; border-right:1px solid"></td>
			  <td><b>PPN</b></td>
			  <td colspan="2" style="text-align:right">
			    <input id="ppn_amount" name="purchase_ppn" style="text-align:right">
			  </td>
			</tr>
			<tr>
			  <td colspan="7" style="border-color:transparent; border-right:1px solid"></td>
			  <td><b>Grand Total</b></td>
			  <td class="text-right" colspan="2">
				<b><span id="grand_total_display"></span></b>
			    <input type="hidden" id="grand_total" name="purchase_total">
			  </td>
			</tr>
		  </tbody>
		</table>
	  </div>
	</div>
	<div class="card-footer">
	  <button type="submit" name="create" class="btn btn-primary btn-sm btn-form"><b>SAVE</b></button>
	  <a href="../../purchase" class="btn btn-danger btn-sm btn-form"><b>EXIT</b></a>
	</div>
  </form>
</div>

<script>
/* ============================================================== */
/* Autocomplete													= */
/* ============================================================== */
	
// Customer
var data = "../../app/views/autocomplete/supplier.php";
$("input[name=supplier_code]").autocomplete({
  source: data,
  minLength: 2,
  select: function(event, ui){
    $(this).val(ui.item.supplier_code);
	  return false;
  }
}).autocomplete("instance")._renderItem = function(ul, item){
  return $("<li>")
  .append("<div style='font-size:12px; line-height:20px'><span style='display:block'><b>" + item.supplier_code + "</b></span><span><i>" + item.supplier_name + "</i> | <i>" + item.supplier_address + "</i> | <i>" + item.supplier_city + "</i></span></div>")
  .appendTo(ul);
};
	
// Item
var data = "../../app/views/autocomplete/item.php";
$(".item").autocomplete({
  source: data,
  minLength: 2,
  select: function(event, ui){
    $(this).val(ui.item.item_code);
      return false;
  }
}).each(function(){
  $(this).autocomplete("instance")._renderItem = function(ul, item){
    return $("<li>")
    .append("<div style='font-size:12px; line-height:20px'><span style='display:block'><b>" + item.item_code + "</b></span><span><i>" + item.item_part_no + "</i> | <i>" + item.item_desc + "</i></span></div>")
    .appendTo(ul);
  }
});

/* ============================================================== */
/* PPN Sum														= */
/* ============================================================== */

$('#ppn_amount').keyup(function(){
  var total = $('#part_charge').val();
  var ppn = this.value;
  
  $('#grand_total').val(parseInt(total) + parseInt(ppn));
  $('#grand_total_display').text(new Intl.NumberFormat().format(parseInt(total) + parseInt(ppn)));
});

/* ============================================================== */
/* Datepicker														= */
/* ============================================================== */

$('.datepicker').datepicker({
    dateFormat: 'dd/mm/yy'
});
</script>