<div class="" style="font-size:12px">
  <form action="{{ @BASE.'/purchase/update/'.@PARAMS.purchase_id }}" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="purchase_by" value="{{ @SESSION.id }}">
    <div class="row">
	  <div class="col-md-6">
		<div class="form-group row">
		  <label class="col-sm-3"><b>No. Invoice</b></label>
		  <div class="col-md-4">
		    <input name="purchase_number" class="form-control form-control-sm form-app" placeholder="No. Invoice" data-toggle="tooltip" title="No. Invoice" value="{{ @POST.purchase_number }}" style="font-weight:bold" required>
		  </div>
		</div>
		<div class="form-group row">
		  <label class="col-sm-3"><b>Tanggal</b></label>
		  <div class="col-md-4">
		    <input type="date" name="purchase_date" class="form-control form-control-sm form-app" data-toggle="tooltip" title="Tanggal" value="{{ date('Y-m-d', strtotime(@POST.purchase_date)) }}" required>
		  </div>
		</div>
	  </div>
	  
	  <div class="col-md-6">
		<div class="form-group row">
		  <label class="col-sm-3"><b>Kode Supplier</b></label>
		  <div class="col-md-3">
			<input name="supplier_code" class="form-control form-control-sm form-app" list="data-supplier" placeholder="Kode Supplier" data-toggle="tooltip" title="KODE SUPPLIER" autocomplete="off" value="{{ @POST.supplier_code }}" required>
			<input type="hidden" name="supplier_id" class="form-control form-control-sm form-app" value="{{ @POST.supplier_id }}">
		  </div>
		  <div class="col-md-6">
			<input name="supplier_name" class="form-control form-control-sm form-app" placeholder="Nama Supplier" value="{{ @POST.supplier_name }}" readonly>
		  </div>
		</div>
		<div class="form-group row">
		  <label class="col-sm-3"><b>Alamat</b></label>
		  <div class="col-md-6">
			<input name="supplier_address" class="form-control form-control-sm form-app" placeholder="Alamat" value="{{ @POST.supplier_address }}" readonly>
		  </div>
		  <div class="col-md-3">
			<input name="supplier_city" class="form-control form-control-sm form-app" placeholder="Kota" value="{{ @POST.supplier_city }}" readonly>
		  </div>
		</div>
		<div class="form-group row">
		  <label class="col-sm-3"><b>Telepon</b></label>
		  <div class="col-md-4">
			<input name="supplier_phone" class="form-control form-control-sm form-app" placeholder="Telepon" value="{{ @POST.supplier_phone }}" readonly>
		  </div>
		</div>
	  </div>
	  
	  <div class="row m-3">
		<table class="table table-bordered table-responsive">
		  <thead>
			<tr class="bg-primary">
			  <th class="width-125">Kode</th>
			  <th class="width-125">Part Number</th>
			  <th class="width-500">Nama Barang</th>
			  <th class="width-75">Unit</th>
			  <th class="width-75">Qty</th>
			  <th class="width-150">Price</th>
			  <th class="width-150">Merk</th>
			  <th class="width-150">Siapa</th>
			  <th class="width-150">Amount</th>
			  <th>#</th>
			</tr>
		  </thead>
		  <tbody>
		    <repeat group="{{ @data_purchase_detail }}" key="{{ @i }}" value="{{ $purchase_detail }}">
			<tr id="item_1{{ @i }}">
			  <td>
			    <input id="1{{ @i }}" name="data[1{{ @i }}][item_code]" style="width:100%" onchange="return getData(this.id, this.value)" list="data-item" autocomplete="off" value="{{ @purchase_detail.item_code }}">
			    <input id="item_id_1{{ @i }}" type="hidden" name="data[1{{ @i }}][item_id]" value="{{ @purchase_detail.item_id }}">
			  </td>
			  <td>
			    <input id="item_part_no_1{{ @i }}" name="data[1{{ @i }}][item_part_no]" style="width:100%" value="{{ @purchase_detail.item_part_no }}">
			  </td>
			  <td><input id="item_desc_1{{ @i }}" name="data[1{{ @i }}][item_desc]" style="width:100%" value="{{ @purchase_detail.item_desc }}"></td>
			  <td><input id="item_unit_1{{ @i }}" name="data[1{{ @i }}][item_unit]" style="width:100%" value="{{ @purchase_detail.item_unit }}"></td>
			  <td>
			    <input id="item_qty_1{{ @i }}" name="data[1{{ @i }}][item_qty]" class="number-only" style="width:100%" onkeyup="return getTotal(1{{ @i }})" value="{{ @purchase_detail.purchase_detail_value }}">
			  </td>
			  <td>
			    <input id="item_price_1{{ @i }}" name="data[1{{ @i }}][item_price]" class="number-only" style="width:100%" onkeyup="return getTotal(1{{ @i }})" value="{{ number_format(@purchase_detail.item_price) }}">
			  </td>
			  <td>
			    <input id="item_brand_1{{ @i }}" name="data[1{{ @i }}][item_brand]" style="width:100%" value="{{ @purchase_detail.item_brand }}">
			  </td>
			  <td>
			    <input id="item_to_1{{ @i }}" name="data[1{{ @i }}][item_to]" style="width:100%" value="{{ @purchase_detail.item_to }}">
			  </td>
			  <td>
			    <input id="item_amount_1{{ @i }}" name="data[1{{ @i }}][item_amount]" class="number-only amount" style="width:100%" value="{{ number_format(@purchase_detail.item_amount) }}" readonly>
			  </td>
			  <td>
			    <center>
				  <a href="javascript:void(0)" class="text-danger" onclick="return clearRow(1{{ @i }})">
				    <i class="fa fa-trash"></i>
				  </a>
				</center>
			  </td>
			</tr>
			</repeat>
			
			<loop from="{{ @i=0 }}" to="{{ @i < (10 - count(@data_purchase_detail)) }}" step="{{ @i++ }}">
			<tr id="item_{{ @i }}">
			  <td>
			    <input id="{{ @i }}" name="data[{{ @i }}][item_code]" style="width:100%" onchange="return getData(this.id, this.value)" list="data-item" autocomplete="off">
			    <input id="item_id_{{ @i }}" type="hidden" name="data[{{ @i }}][item_id]">
			  </td>
			  <td>
			    <input id="item_part_no_{{ @i }}" name="data[{{ @i }}][item_part_no]" style="width:100%">
			  </td>
			  <td><input id="item_desc_{{ @i }}" name="data[{{ @i }}][item_desc]" style="width:100%"></td>
			  <td><input id="item_unit_{{ @i }}" name="data[{{ @i }}][item_unit]" style="width:100%"></td>
			  <td>
			    <input id="item_qty_{{ @i }}" name="data[{{ @i }}][item_qty]" class="number-only" style="width:100%" onkeyup="return getTotal({{ @i }})">
			  </td>
			  <td>
			    <input id="item_price_{{ @i }}" name="data[{{ @i }}][item_price]" class="number-only" style="width:100%" onkeyup="return getTotal({{ @i }})">
			  </td>
			  <td>
			    <input id="item_brand_{{ @i }}" name="data[{{ @i }}][item_brand]" style="width:100%">
			  </td>
			  <td>
			    <input id="item_to_{{ @i }}" name="data[{{ @i }}][item_to]" style="width:100%">
			  </td>
			  <td>
			    <input id="item_amount_{{ @i }}" name="data[{{ @i }}][item_amount]" class="number-only amount" style="width:100%" readonly>
			  </td>
			  <td>
			    <center>
				  <a href="javascript:void(0)" class="text-danger" onclick="return clearRow({{ @i }})">
				    <i class="fa fa-trash"></i>
				  </a>
				</center>
			  </td>
			</tr>
			</loop>
		  </tbody>
		  <tbody style="border-top:1px double">
			<tr>
			  <td colspan="7" style="border-color:transparent; border-right:1px solid"></td>
			  <td><b>Total Harga</b></td>
			  <td class="text-right" colspan="2">
				<b><span id="part_charge_display">{{ number_format(@POST.purchase_total - @POST.purchase_ppn) }}</span></b>
			    <input type="hidden" id="part_charge">
			    <input type="hidden" id="service_charge" value="0">
			    <input type="hidden" id="discount" value="0">
				<input type="hidden" id="ppn" value="0">
			  </td>
			</tr>
			<tr>
			  <td style="border-color:transparent"><b>KETERANGAN</b></td>
			  <td colspan="5" style="border-color:transparent">
			    <input name="purchase_note" class="form-control form-control-sm form-app" value="{{ @POST.purchase_note }}">
			  </td>
			  <td style="border-color:transparent; border-right:1px solid"></td>
			  <td><b>PPN</b></td>
			  <td colspan="2" style="text-align:right">
			    <input id="ppn_amount" name="purchase_ppn" style="text-align:right" value="{{ number_format(@POST.purchase_ppn) }}">
			  </td>
			</tr>
			<tr>
			  <td colspan="7" style="border-color:transparent; border-right:1px solid"></td>
			  <td><b>Grand Total</b></td>
			  <td class="text-right" colspan="2">
				<b><span id="grand_total_display">{{ number_format(@POST.purchase_total) }}</span></b>
			    <input type="hidden" id="grand_total" name="purchase_total" value="{{ number_format(@POST.purchase_total) }}">
			  </td>
			</tr>
		  </tbody>
		</table>
	  </div>
	</div>
	<div class="card-footer">
	  <button type="submit" name="update" class="btn btn-primary btn-sm btn-form"><b>SAVE</b></button>
	  <a href="../../purchase" class="btn btn-danger btn-sm btn-form"><b>EXIT</b></a>
	</div>
  </form>
</div>

<datalist id="data-supplier">
  <repeat group="{{ @data_supplier }}" value="{{ $supplier }}">
    <option value="{{ @supplier.supplier_code }}">{{ @supplier.supplier_code }} | {{ @supplier.supplier_name }}
  </repeat>
</datalist>

<datalist id="data-item">
  <repeat group="{{ @data_item }}" value="{{ $item }}">
    <option value="{{ @item.item_code }}">{{ @item.item_code }} | {{ @item.item_desc }}
  </repeat>
</datalist>

<script>
$('#ppn_amount').keyup(function(){
  var total = $('#part_charge').val();
  var ppn = this.value;
  
  $('#grand_total').val(parseInt(total) + parseInt(ppn));
  $('#grand_total_display').text(new Intl.NumberFormat().format(parseInt(total) + parseInt(ppn)));
});
</script>