<style>
input, select, .form-control { font-size:12px }
</style>

<div class="">
  <form action="{{ @BASE.'/purchase/update/'.@PARAMS.purchase_id }}" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="purchase_by" value="{{ @SESSION.id }}">
    <div class="">
	  <div class="row">
		<div class="col-md-2">
		  <div class="input-group mb-2">
			<div class="input-group-prepend">
			  <span class="input-group-text form-app">INV</span>
			</div>
			<input name="purchase_number" class="form-control form-control-sm form-app" placeholder="No. Invoice" data-toggle="tooltip" title="No. Invoice" style="font-weight:bold; font-size:14px" value="{{ @POST.purchase_number }}" required>
		  </div>
		</div>
		<div class="col-md-2">
		  <div class="input-group mb-2">
			<div class="input-group-prepend">
			  <span class="input-group-text form-app">TANGGAL</span>
			</div>
			<input type="date" name="purchase_date" class="form-control form-control-sm form-app" data-toggle="tooltip" title="Tanggal" value="{{ date('Y-m-d', strtotime(@POST.purchase_date)) }}" required>
		  </div>
		</div>
		<div class="col-md-1 offset-md-2">
		  <div class="form-group">
			<input name="supplier_code" class="form-control form-control-sm form-app" list="data-supplier" placeholder="Supplier" data-toggle="tooltip" title="KODE SUPPLIER" autocomplete="off" style="font-weight:bold" value="{{ @POST.supplier_code }}" required>
			<input type="hidden" name="supplier_id" class="form-control form-control-sm form-app" value="{{ @POST.supplier_id }}">
		  </div>
		</div>
		<div class="col-md-3">
		  <div class="form-group">
			<input name="supplier_name" class="form-control form-control-sm form-app" placeholder="Nama Supplier" style="font-weight:bold" value="{{ @POST.supplier_name }}" readonly>
		  </div>
		</div>
		<div class="col-md-2">
		  <div class="form-group">
			<input name="supplier_phone" class="form-control form-control-sm form-app" placeholder="Telepon" value="{{ @POST.supplier_phone }}" readonly>
		  </div>
		</div>
	  </div>
	  
	  <div class="row">
		<div class="col-md-4 offset-md-6">
		  <div class="form-group">
			<input name="supplier_address" class="form-control form-control-sm form-app" placeholder="Alamat" value="{{ @POST.supplier_address }}" readonly>
		  </div>
		</div>
		<div class="col-md-2">
		  <div class="form-group">
			<input name="supplier_city" class="form-control form-control-sm form-app" placeholder="Kota" value="{{ @POST.supplier_city }}" readonly>
		  </div>
		</div>
	  </div>
	  
	  <div class="row m-0">
		<table class="table table-bordered table-responsive">
		  <thead>
			<tr class="bg-primary">
			  <th width="150" class="text-light">Kode</th>
			  <th width="150" class="text-light">Part Number</th>
			  <th width="150" class="text-light">Nama Barang</th>
			  <th width="200" class="text-light">Unit</th>
			  <th width="50" class="text-light">Qty</th>
			  <th width="100" class="text-light">Price</th>
			  <th width="150" class="text-light">Merk</th>
			  <th width="200" class="text-light">Siapa</th>
			  <th width="100" class="text-light">Amount</th>
			  <th width="20" class="text-light">#</th>
			</tr>
		  </thead>
		  <tbody>
		    <repeat group="{{ @data_purchase_detail }}" key="{{ @i }}" value="{{ $purchase_detail }}">
			<tr id="item_1{{ @i }}">
			  <td>
			    <input id="1{{ @i }}" name="data[1{{ @i }}][item_code]" class="item" style="width:100%" onchange="return getDataPurchase(this.id, this.value)" list="data-item" autocomplete="off" value="{{ @purchase_detail.item_code }}">
			    <input id="item_id_1{{ @i }}" type="hidden" name="data[1{{ @i }}][item_id]" value="{{ @purchase_detail.item_id }}">
			  </td>
			  <td>
			    <input id="item_part_no_1{{ @i }}" name="data[1{{ @i }}][item_part_no]" style="width:100%" value="{{ @purchase_detail.item_part_no }}">
			  </td>
			  <td><input id="item_desc_1{{ @i }}" name="data[1{{ @i }}][item_desc]" style="width:100%" value="{{ @purchase_detail.item_desc }}"></td>
			  <td><input id="item_unit_1{{ @i }}" name="data[1{{ @i }}][item_unit]" style="width:100%" value="{{ @purchase_detail.item_unit }}"></td>
			  <td>
			    <input id="item_qty_1{{ @i }}" name="data[1{{ @i }}][item_qty]" class="number-only" style="width:100%" onkeyup="return getTotal(1{{ @i }})" value="{{ @purchase_detail.purchase_detail_value }}">
			  </td>
			  <td>
			    <input id="item_price_1{{ @i }}" name="data[1{{ @i }}][item_price]" class="number-only" style="width:100%" onkeyup="return getTotal(1{{ @i }})" value="{{ number_format(@purchase_detail.item_price) }}">
			  </td>
			  <td>
			    <select name="data[1{{ @i }}][item_brand]" style="width:100%">
				  <option disabled selected></option>
				  <repeat group="{{ @data_merk }}" value="{{ $merk }}">
					<option value="{{ @merk.merk_desc }}" <check if="{{ @purchase_detail.item_brand == @merk.merk_desc }}">selected</check>>{{ @merk.merk_desc }}</option>
				  </repeat>
				</select>
			  </td>
			  <td>
			    <input id="item_to_1{{ @i }}" name="data[1{{ @i }}][item_to]" style="width:100%" value="{{ @purchase_detail.item_to }}">
			  </td>
			  <td>
			    <input id="item_amount_1{{ @i }}" name="data[1{{ @i }}][item_amount]" class="number-only amount" style="width:100%" value="{{ number_format(@purchase_detail.item_amount) }}" readonly>
			  </td>
			  <td>
			    <center>
				  <a href="javascript:void(0)" class="text-danger" onclick="return clearRow(1{{ @i }})">
				    <i class="fa fa-trash"></i>
				  </a>
				</center>
			  </td>
			</tr>
			</repeat>
			
			<loop from="{{ @i=0 }}" to="{{ @i < 1 }}" step="{{ @i++ }}">
			<tr id="item_{{ @i }}">
			  <td>
			    <input id="{{ @i }}" name="data[{{ @i }}][item_code]" class="item" style="width:100%" onchange="return getDataPurchase(this.id, this.value)" list="data-item" autocomplete="off">
			    <input id="item_id_{{ @i }}" type="hidden" name="data[{{ @i }}][item_id]">
			  </td>
			  <td>
			    <input id="item_part_no_{{ @i }}" name="data[{{ @i }}][item_part_no]" style="width:100%">
			  </td>
			  <td><input id="item_desc_{{ @i }}" name="data[{{ @i }}][item_desc]" style="width:100%"></td>
			  <td><input id="item_unit_{{ @i }}" name="data[{{ @i }}][item_unit]" style="width:100%"></td>
			  <td>
			    <input id="item_qty_{{ @i }}" name="data[{{ @i }}][item_qty]" class="number-only" style="width:100%" onkeyup="return getTotal({{ @i }})">
			  </td>
			  <td>
			    <input id="item_price_{{ @i }}" name="data[{{ @i }}][item_price]" class="number-only" style="width:100%" onkeyup="return getTotal({{ @i }})">
			  </td>
			  <td>
			    <!-- <input id="item_brand_{{ @i }}" name="data[{{ @i }}][item_brand]" style="width:100%"> -->
				<select name="data[{{ @i }}][item_brand]" style="width:100%">
				  <option disabled selected></option>
				  <repeat group="{{ @data_merk }}" value="{{ $merk }}">
					<option value="{{ @merk.merk_desc }}">{{ @merk.merk_desc }}</option>
				  </repeat>
				</select>
			  </td>
			  <td>
			    <input id="item_to_{{ @i }}" name="data[{{ @i }}][item_to]" style="width:100%">
			  </td>
			  <td>
			    <input id="item_amount_{{ @i }}" name="data[{{ @i }}][item_amount]" class="number-only amount" style="width:100%" readonly>
			  </td>
			  <td>
			    <center>
				  <a href="javascript:void(0)" class="text-danger" onclick="return clearRow({{ @i }})">
				    <i class="fa fa-trash"></i>
				  </a>
				</center>
			  </td>
			</tr>
			</loop>
		  </tbody>
		  <tbody style="border-top:1px double">
			<tr>
			  <td colspan="7" style="border-color:transparent; border-right:1px solid"></td>
			  <td><b>Total Harga</b></td>
			  <td class="text-right" colspan="2">
				<b><span id="part_charge_display">{{ number_format(@POST.purchase_total) }}</span></b>
			    <input type="hidden" id="part_charge" value="{{ @POST.purchase_total }}">
			    <input type="hidden" id="service_charge" value="0">
			    <input type="hidden" id="discount" value="{{ @POST.purchase_discount }}">
				<input type="hidden" id="ppn" value="0">
			  </td>
			</tr>
			<tr>
			  <td colspan="7" style="border-color:transparent; border-right:1px solid"></td>
			  <td><b>Diskon</b></td>
			  <td colspan="2" style="text-align:right">
			    <input id="discount_amount" name="purchase_discount" style="text-align:right" value="{{ @POST.purchase_discount }}" autocomplete="off">
			  </td>
			</tr>
			<tr>
			  <td colspan="7" style="border-color:transparent; border-right:1px solid"></td>
			  <td><b>TOTAL SEBELUM PPN</b></td>
			  <td colspan="2" style="text-align:right">
			    <span id="before_ppn" class="number-only">{{ number_format(@POST.purchase_total - @POST.purchase_discount) }}</span>
			  </td>
			</tr>
			<tr>
			  <td style="border-color:transparent"><b>KETERANGAN</b></td>
			  <td colspan="5" style="border-color:transparent">
			    <input name="purchase_note" class="form-control form-control-sm form-app" value="{{ @POST.purchase_note }}" autocomplete="off">
			  </td>
			  <td style="border-color:transparent; border-right:1px solid"></td>
			  <td><b>PPN</b></td>
			  <td colspan="2" style="text-align:right">
			    <input id="ppn_amount" name="purchase_ppn" style="text-align:right" value="{{ @POST.purchase_ppn }}">
			  </td>
			</tr>
			<tr>
			  <td colspan="7" style="border-color:transparent; border-right:1px solid"></td>
			  <td><b>Grand Total</b></td>
			  <td class="text-right" colspan="2">
				<b><span id="grand_total_display">{{ number_format((@POST.purchase_total - @POST.purchase_discount) + @POST.purchase_ppn) }}</span></b>
			    <input type="hidden" id="grand_total" name="purchase_total" value="{{ @POST.purchase_total }}">
			  </td>
			</tr>
		  </tbody>
		</table>
	  </div>
	</div>
	<div class="card-footer">
	  <button type="submit" name="update" class="btn btn-primary btn-sm btn-form"><b>SAVE</b></button>
	  <a href="../../purchase" class="btn btn-danger btn-sm btn-form"><b>EXIT</b></a>
	</div>
  </form>
</div>

<script>
/* ============================================================== */
/* Autocomplete													= */
/* ============================================================== */
	
// Customer
var data = "../../app/views/autocomplete/supplier.php";
$("input[name=supplier_code]").autocomplete({
  source: data,
  minLength: 2,
  select: function(event, ui){
    $(this).val(ui.item.supplier_code);
	  return false;
  }
}).autocomplete("instance")._renderItem = function(ul, item){
  return $("<li>")
  .append("<div style='font-size:12px; line-height:20px'><span style='display:block'><b>" + item.supplier_code + "</b></span><span><i>" + item.supplier_name + "</i> | <i>" + item.supplier_address + "</i> | <i>" + item.supplier_city + "</i></span></div>")
  .appendTo(ul);
};
	
// Item
var data = "../../app/views/autocomplete/item.php";
$(".item").autocomplete({
  source: data,
  minLength: 2,
  select: function(event, ui){
    $(this).val(ui.item.item_code);
      return false;
  }
}).each(function(){
  $(this).autocomplete("instance")._renderItem = function(ul, item){
    return $("<li>")
    .append("<div style='font-size:12px; line-height:20px'><span style='display:block'><b>" + item.item_code + "</b></span><span><i>" + item.item_part_no + "</i> | <i>" + item.item_desc + "</i></span></div>")
    .appendTo(ul);
  }
});

/* ============================================================== */
/* PPN Sum														= */
/* ============================================================== */

$('#ppn_amount, #discount_amount').keyup(function(){
  var total = $('#part_charge').val();
  var discount = $('#discount_amount').val();
  var ppn = $('#ppn_amount').val();
  
  var before_ppn = total - discount;
  
  $('#before_ppn').text(before_ppn);
  $('#grand_total').val(parseInt(before_ppn) + parseInt(ppn));
  $('#grand_total_display').text(new Intl.NumberFormat().format(parseInt(before_ppn) + parseInt(ppn)));
});
</script>