<div class="card p-2 font-12">
    <F3:repeat group="{{ \Flash::instance()->getMessages() }}" value="{{ @msg }}">
      <div class="alert alert-{{ @msg.status }} alert-dismissible show fade">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-info-circle"></i>&nbsp;&nbsp;{{ @msg.text | esc }}
      </div>
    </F3:repeat>
    
    <div class="row mb-1">
      <div class="col-md-8">
        <a href="{{ @BASE.'/purchase/create' }}" class="btn btn-success btn-sm">
          Tambah Stok
        </a>
      </div>
      <div class="col-md-4 pull-right">
        <div class="input-group">
          <input id="stock_search" class="form-control form-control-sm" placeholder="Cari Data ...">
          <span class="input-group-append">
            <a href="javascript:void(0)" class="btn btn-primary btn-sm"><i class="fa fa-search"></i></a>
          </span>
        </div>
      </div>
    </div>
      
    <table id="stock_table" class="table table-striped" style="width:100%">
      <thead class="bg-app">
        <tr>
          <th>Kode Barang</th>
          <th>Nama Barang</th>
          <th>Stok Min</th>
          <th>Srok Tersdia</th>
          <th>Pilihan</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
</div>