      </section>
	</div>
  </div>
	
  <!-- jQuery -->
  <script src="../../ui/assets/plugins/jquery/jquery.min.js"></script>
  <script src="../../ui/assets/js/popper.min.js"></script>
  <script src="../../ui/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../ui/assets/js/jquery.nicescroll.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script> -->
  <!-- DataTables -->
  <script src="../../ui/assets/plugins/datatables/jquery.dataTables.js"></script>
  <script src="../../ui/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
  <!-- Js Application -->
  <script src="../../ui/assets/js/stisla.js"></script>
  <script src="../../ui/assets/js/scripts.js"></script>
  <script src="../../ui/assets/js/custom.js"></script>
  <!-- Chart Js -->
  <script src="../../ui/assets/plugins/chart.js/Chart.min.js"></script>
  
  <!-- Datatable Data -->
  <include href="datatables/user.html">
  <include href="datatables/model.html">
  <include href="datatables/customer.html">
  <include href="datatables/item.html">
  <include href="datatables/stock.html">
  <include href="datatables/supplier.html">
  
  <include href="home/chart.html">
  
  <script>
	/* ============================================================== */
	/* Autocomplete input off										= */
	/* ============================================================== */
	
	<!-- $('input').prop('autocomplete','off'); -->
  		
	/* ============================================================== */
	/* Fungsi input hanya nomer										= */
	/* ============================================================== */
	
	$('.number-only').keypress(function(event){
	  var charCode = (event.which) ? event.which : event.keyCode
	  if (charCode > 31 && (charCode != 46 &&(charCode < 48 || charCode > 57)))
		return false;
	  return true;
	});
	
	/* ============================================================== */
	/* Mencegah enter menyimpan data / submit form					= */
	/* ============================================================== */
	
	$('#main').keydown(function(event){
      if(event.keyCode == 13) {
        event.preventDefault();
        return false;
      }
    });
	
	/* ============================================================== */
	/* Simpel DataTable												= */
	/* ============================================================== */
	
    var table = $('#simple_table').DataTable({
	  "lengthChange": false
	});
	
	$('#searching').on('keyup', function(){
	  table.search(this.value).draw();
    });
	
	/* ============================================================== */
	/* Menangkap data dari modal									= */
	/* ============================================================== */
	
	/* Model */
	$('#update_model').on('show.bs.modal', function(event){
	  var button = $(event.relatedTarget);
	  var model_id = button.data('model_id');
	  var model_code = button.data('model_code');
	  var model_desc = button.data('model_desc');
	  
	  var modal = $(this);
	  modal.find('.modal-title').text('Update : ' + model_code);
	  modal.find('.modal-body input[name=model_id]').val(model_id);
	  modal.find('.modal-body input[name=model_code]').val(model_code);
	  modal.find('.modal-body input[name=model_desc]').val(model_desc);
	});

	/* Customer */
	$('#update_customer').on('show.bs.modal', function(event){
	  var button = $(event.relatedTarget);
	  var customer_id = button.data('customer_id');
	  var customer_code = button.data('customer_code');
	  var customer_name = button.data('customer_name');
	  var customer_address = button.data('customer_address');
	  var customer_city = button.data('customer_city');
	  var customer_phone = button.data('customer_phone');
	  var customer_name_other = button.data('customer_name_other');
	  var customer_address_other = button.data('customer_address_other');
	  var customer_city_other = button.data('customer_city_other');
	  var customer_phone_other = button.data('customer_phone_other');
	  var customer_note = button.data('customer_note');
	  
	  var modal = $(this);
	  modal.find('.modal-title').text('Update : ' + customer_code);
	  modal.find('.modal-body input[name=customer_id]').val(customer_id);
	  modal.find('.modal-body input[name=customer_code]').val(customer_code);
	  modal.find('.modal-body input[name=customer_name]').val(customer_name);
	  modal.find('.modal-body input[name=customer_address]').val(customer_address);
	  modal.find('.modal-body input[name=customer_city]').val(customer_city);
	  modal.find('.modal-body input[name=customer_phone]').val(customer_phone);
	  modal.find('.modal-body input[name=customer_name_other]').val(customer_name_other);
	  modal.find('.modal-body input[name=customer_address_other]').val(customer_address_other);
	  modal.find('.modal-body input[name=customer_city_other]').val(customer_city_other);
	  modal.find('.modal-body input[name=customer_phone_other]').val(customer_phone_other);
	  modal.find('.modal-body input[name=customer_note]').val(customer_note);
	});

	/* Item */
	$('#update_item').on('show.bs.modal', function(event){
	  var button = $(event.relatedTarget);
	  var item_id = button.data('item_id');
	  var item_code = button.data('item_code');
	  var item_part_no = button.data('item_part_no');
	  var item_desc = button.data('item_desc');
	  var item_price = button.data('item_price');
	  var item_unit = button.data('item_unit');
	  var item_stamping = button.data('item_stamping');
	  var item_physical = button.data('item_physical');
	  var item_similar = button.data('item_similar');
	  var item_pn = button.data('item_pn');
	  var item_brand_1 = button.data('item_brand_1');
	  var item_bradn_2 = button.data('item_bradn_2');
	  var item_brand_3 = button.data('item_brand_3');
	  var item_note = button.data('item_note');
	  var item_image = button.data('item_image');
	  
	  var modal = $(this);
	  modal.find('.modal-title').text('Update : ' + item_code);
	  modal.find('.modal-body input[name=item_id]').val(item_id);
	  modal.find('.modal-body input[name=item_code]').val(item_code);
	  modal.find('.modal-body input[name=item_part_no]').val(item_part_no);
	  modal.find('.modal-body input[name=item_desc]').val(item_desc);
	  modal.find('.modal-body input[name=item_price]').val(item_price);
	  modal.find('.modal-body input[name=item_unit]').val(item_unit);
	  modal.find('.modal-body input[name=item_stamping]').val(item_stamping);
	  modal.find('.modal-body input[name=item_physical]').val(item_physical);
	  modal.find('.modal-body input[name=item_similar]').val(item_similar);
	  modal.find('.modal-body input[name=item_pn]').val(item_pn);
	  modal.find('.modal-body input[name=item_brand_1]').val(item_brand_1);
	  modal.find('.modal-body input[name=item_bradn_2]').val(item_bradn_1);
	  modal.find('.modal-body input[name=item_brand_3]').val(item_brand_3);
	  modal.find('.modal-body input[name=item_note]').val(item_note);
	  modal.find('.modal-body input[name=item_image]').val(item_image);
	});

	/* Stock */
	$('#update_stock').on('show.bs.modal', function(event){
	  var button = $(event.relatedTarget);
	  var stock_id = button.data('stock_id');
	  var item_id = button.data('item_id');
	  var stock_min = button.data('stock_min');
	  var stock_max = button.data('stock_max');
	  var stock_first = button.data('stock_first');
	  var stock_on_hand = button.data('stock_on_hand');
	  var stock_by = button.data('stock_by');
	  var stock_date = button.data('stock_date');
	  
	  var modal = $(this);
	  modal.find('.modal-title').text('Update : ' + item_id);
	  modal.find('.modal-body input[name=stock_id]').val(stock_id);
	  modal.find('.modal-body input[name=item_id]').val(item_id);
	  modal.find('.modal-body input[name=stock_min]').val(stock_min);
	  modal.find('.modal-body input[name=stock_max]').val(stock_max);
	  modal.find('.modal-body input[name=stock_first]').val(stock_first);
	  modal.find('.modal-body input[name=stock_on_hand]').val(stock_on_hand);
	  modal.find('.modal-body input[name=stock_by]').val(stock_by);
	  modal.find('.modal-body input[name=stock_date]').val(stock_date);
	});

	/* Supplier */
	$('#update_supplier').on('show.bs.modal', function(event){
	  var button = $(event.relatedTarget);
	  var supplier_id = button.data('supplier_id');
	  var supplier_code = button.data('supplier_code');
	  var supplier_name = button.data('supplier_name');
	  var supplier_address = button.data('supplier_address');
	  var supplier_city = button.data('supplier_city');
	  var supplier_phone = button.data('supplier_phone');
	  
	  var modal = $(this);
	  modal.find('.modal-title').text('Update : ' + supplier_code);
	  modal.find('.modal-body input[name=supplier_id]').val(supplier_id);
	  modal.find('.modal-body input[name=supplier_code]').val(supplier_code);
	  modal.find('.modal-body input[name=supplier_name]').val(supplier_name);
	  modal.find('.modal-body input[name=supplier_address]').val(supplier_address);
	  modal.find('.modal-body input[name=supplier_city]').val(supplier_city);
	  modal.find('.modal-body input[name=supplier_phone]').val(supplier_phone);
	});
	
	/* ============================================================== */
	/* Fungsi preview image											= */
	/* ============================================================== */
	
	function previewImage(input){
      if(input.files && input.files[0]){
        var reader = new FileReader();

        reader.onload = function(e){
          $('#preview_image').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
      }
    }
	
	/* ============================================================== */
	/* Fungsi Notifikasi											= */
	/* ============================================================== */
	
	function showNotification(){
	  if(window.Notification && Notification.permission !== "denied") {
	    Notification.requestPermission(function(status) {  // status is "granted", if accepted by user
		  var n = new Notification('JAMBUL | Belanja Mbulanan', { 
		    body: 'Hai Admin, Ada Pesanan Baru.\nKlik Link Berikut : \nhttp://jblapp.hi-skripsi.xyz',
		    icon: '../../ui/assets/img/AdminLTELogo.png' 
		  });
		  
		  var m = new Notification('JAMBUL | Belanja Mbulanan', { 
		    body: 'Hai Admin, Ada Pesanan Baru.\nKlik Link Berikut : \nhttp://jblapp.hi-skripsi.xyz',
		    icon: '../../ui/assets/img/AdminLTELogo.png' 
		  });
	    });
	  }
	}
  </script>
</body>
</html>