      </section>
	</div>
  </div>
	
  <!-- jQuery -->
  <script src="../../ui/assets/plugins/jquery/jquery.min.js"></script>
  <script src="../../ui/assets/js/popper.min.js"></script>
  <script src="../../ui/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../ui/assets/js/jquery.nicescroll.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script> -->
  <!-- DataTables -->
  <script src="../../ui/assets/plugins/datatables/jquery.dataTables.js"></script>
  <script src="../../ui/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
  <!-- Js Application -->
  <script src="../../ui/assets/js/stisla.js"></script>
  <script src="../../ui/assets/js/scripts.js"></script>
  <script src="../../ui/assets/js/custom.js"></script>
  <!-- Chart Js -->
  <script src="../../ui/assets/plugins/chart.js/Chart.min.js"></script>
  
  <!-- Datatable Data -->
  <include href="datatables/user.html">
  <include href="datatables/model.html">
  <include href="datatables/customer.html">
  <include href="datatables/item.html">
  
  <include href="home/chart.html">
  
  <script>
	/* ============================================================== */
	/* Autocomplete input off										= */
	/* ============================================================== */
	
	<!-- $('input').prop('autocomplete','off'); -->
  		
	/* ============================================================== */
	/* Fungsi input hanya nomer										= */
	/* ============================================================== */
	
	$('.number-only').keypress(function(event){
	  var charCode = (event.which) ? event.which : event.keyCode
	  if (charCode > 31 && (charCode != 46 &&(charCode < 48 || charCode > 57)))
		return false;
	  return true;
	});
	
	/* ============================================================== */
	/* Mencegah enter menyimpan data / submit form					= */
	/* ============================================================== */
	
	$('#main').keydown(function(event){
      if(event.keyCode == 13) {
        event.preventDefault();
        return false;
      }
    });
	
	/* ============================================================== */
	/* Simpel DataTable												= */
	/* ============================================================== */
	
    var table = $('#simple_table').DataTable({
	  "lengthChange": false
	});
	
	$('#searching').on('keyup', function(){
	  table.search(this.value).draw();
    });
	
	/* ============================================================== */
	/* Menangkap data dari modal									= */
	/* ============================================================== */
	
	/* Model */
	$('#update_model').on('show.bs.modal', function(event){
	  var button = $(event.relatedTarget);
	  var model_id = button.data('model_id');
	  var model_code = button.data('model_code');
	  var model_desc = button.data('model_desc');
	  
	  var modal = $(this);
	  modal.find('.modal-title').text('Update : ' + model_code);
	  modal.find('.modal-body input[name=model_id]').val(model_id);
	  modal.find('.modal-body input[name=model_code]').val(model_code);
	  modal.find('.modal-body input[name=model_desc]').val(model_desc);
	});

	/* Customer */
	$('#update_customer').on('show.bs.modal', function(event){
	  var button = $(event.relatedTarget);
	  var customer_id = button.data('customer_id');
	  var customer_code = button.data('customer_code');
	  var customer_name = button.data('customer_name');
	  var customer_address = button.data('customer_address');
	  var customer_city = button.data('customer_city');
	  var customer_phone = button.data('customer_phone');
	  var customer_name_other = button.data('customer_name_other');
	  var customer_address_other = button.data('customer_address_other');
	  var customer_city_other = button.data('customer_city_other');
	  var customer_phone_other = button.data('customer_phone_other');
	  var customer_note = button.data('customer_note');
	  
	  var modal = $(this);
	  modal.find('.modal-title').text('Update : ' + customer_code);
	  modal.find('.modal-body input[name=customer_id]').val(customer_id);
	  modal.find('.modal-body input[name=customer_code]').val(customer_code);
	  modal.find('.modal-body input[name=customer_name]').val(customer_name);
	  modal.find('.modal-body input[name=customer_address]').val(customer_address);
	  modal.find('.modal-body input[name=customer_city]').val(customer_city);
	  modal.find('.modal-body input[name=customer_phone]').val(customer_phone);
	  modal.find('.modal-body input[name=customer_name_other]').val(customer_name_other);
	  modal.find('.modal-body input[name=customer_address_other]').val(customer_address_other);
	  modal.find('.modal-body input[name=customer_city_other]').val(customer_city_other);
	  modal.find('.modal-body input[name=customer_phone_other]').val(customer_phone_other);
	  modal.find('.modal-body input[name=customer_note]').val(customer_note);
	});
	
	/* ============================================================== */
	/* Fungsi preview image											= */
	/* ============================================================== */
	
	function previewImage(input){
      if(input.files && input.files[0]){
        var reader = new FileReader();

        reader.onload = function(e){
          $('#preview_image').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
      }
    }
	
	/* ============================================================== */
	/* Fungsi Notifikasi											= */
	/* ============================================================== */
	
	function showNotification(){
	  if(window.Notification && Notification.permission !== "denied") {
	    Notification.requestPermission(function(status) {  // status is "granted", if accepted by user
		  var n = new Notification('JAMBUL | Belanja Mbulanan', { 
		    body: 'Hai Admin, Ada Pesanan Baru.\nKlik Link Berikut : \nhttp://jblapp.hi-skripsi.xyz',
		    icon: '../../ui/assets/img/AdminLTELogo.png' 
		  });
		  
		  var m = new Notification('JAMBUL | Belanja Mbulanan', { 
		    body: 'Hai Admin, Ada Pesanan Baru.\nKlik Link Berikut : \nhttp://jblapp.hi-skripsi.xyz',
		    icon: '../../ui/assets/img/AdminLTELogo.png' 
		  });
	    });
	  }
	}
  </script>
</body>
</html>