<div class="card p-2 font-12">
  <F3:repeat group="{{ \Flash::instance()->getMessages() }}" value="{{ @msg }}">
    <div class="alert alert-{{ @msg.status }} alert-dismissible show fade">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <i class="fa fa-info-circle"></i>&nbsp;&nbsp;{{ @msg.text | esc }}
    </div>
  </F3:repeat>
  
  <div class="row mb-1">
    <div class="col-md-8">
      <a href="javascript:void(0)" class="btn btn-success btn-sm" data-toggle="modal" data-target="#create_customer">
        Tambah Pelanggan
      </a>
    </div>
    <div class="col-md-4 pull-right">
      <div class="input-group">
		<input id="customer_search" class="form-control form-control-sm" placeholder="Find ........">
        <span class="input-group-append">
          <a href="javascript:void(0)" class="btn btn-primary btn-sm"><i class="fa fa-search"></i></a>
        </span>
      </div>
    </div>
  </div>
    
  <table id="customer_table" class="table table-striped" style="width:100%">
    <thead class="bg-app">
      <tr>
        <th>Pelanggan</th>
        <th>Nama</th>
        <th>Alamat</th>
        <th>Kota</th>
        <th>Telepon</th>
        <th>Pilihan</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>

<div class="modal fade" id="create_customer" role="dialog">
  <div class="modal-dialog modal-lg">
	<div class="modal-content">
	  <div class="modal-header bg-info">
		<h5 class="modal-title"><span class="text-white">Tambah Pelanggan</span></h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span>&times;</span>
		</button>
	  </div>
	  <form action="{{ @BASE.'/customer/create/' }}" method="POST">
		<div class="modal-body">
		  <div class="row p-2">
			<div class="col-md-6">
			  <div class="form-group">
			    <label>ID Pelanggan</label>
			    <input name="customer_code" class="form-control form-control-sm" value="{{ @customer_code }}" readonly>
			  </div>
			  <div class="form-group">
				<label>Nama 1 <span class="text-danger">*</span></label>
				<input name="customer_name" class="form-control form-control-sm" required>
			  </div>
			  <div class="form-group">
			    <label>Alamat 1 <span class="text-danger">*</span></label>
			    <input name="customer_address" class="form-control form-control-sm" required>
			  </div>
			  <div class="form-row">
			    <div class="form-group col-md-6">
				  <label>Kota 1</label>
				  <input name="customer_city" class="form-control form-control-sm">
			    </div>
				<div class="form-group col-md-6">
				  <label>Telepon 1</label>
				  <input name="customer_phone" class="form-control form-control-sm">
			    </div>
			  </div>
			  <div class="form-group">
				<label>Catatan</label>
				<input name="customer_note" class="form-control form-control-sm">
			  </div>
			</div>
			<div class="col-md-6">
			  <div class="form-group">
			    <label>NPWP</label>
			    <input name="customer_npwp" maxlength="25" class="form-control form-control-sm">
			  </div>
			  <div class="form-group">
			    <label class="text-primary">Nama 2</label>
			    <input name="customer_name_other" class="form-control form-control-sm">
			  </div>
			  <div class="form-group">
			    <label class="text-primary">Alamat 2</label>
			    <input name="customer_address_other" class="form-control form-control-sm">
			  </div>
			  <div class="form-row">
			    <div class="form-group col-md-6">
				  <label class="text-primary">Kota 2</label>
				  <input name="customer_city_other" class="form-control form-control-sm">
			    </div>
				<div class="form-group col-md-6">
				  <label class="text-primary">Telepon 2</label>
				  <input name="customer_phone_other" class="form-control form-control-sm">
			    </div>
			  </div>
			</div>
		  </div>
		</div>
		<div class="modal-footer bg-light">
		  <button type="submit" name="create" class="btn btn-primary btn-sm btn-form">SAVE</button>
		  <button type="button" class="btn btn-danger btn-sm btn-form" data-dismiss="modal">EXIT</button>
		</div>
	  </form>
	</div>
  </div>
</div>

<div class="modal fade" id="update_customer" role="dialog">
  <div class="modal-dialog modal-lg">
	<div class="modal-content">
	  <div class="modal-header bg-info">
		<h5 class="modal-title text-white"><span class="text-white"></span></h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span>&times;</span>
		</button>
	  </div>
	  <form action="{{ @BASE.'/customer/update/' }}" method="POST">
		<div class="modal-body">
		  <input type="hidden" name="customer_id">
		  <div class="row p-2">
			<div class="col-md-6">
			  <div class="form-group">
			    <label>Pelanggan</label>
			    <input name="customer_code" class="form-control form-control-sm" readonly>
			  </div>
			  <div class="form-group">
				<label>Nama 1 <span class="text-danger">*</span></label>
				<input name="customer_name" class="form-control form-control-sm">
			  </div>
			  <div class="form-group">
			    <label>Alamat 1 <span class="text-danger">*</span></label>
			    <input name="customer_address" class="form-control form-control-sm">
			  </div>
			  <div class="form-row">
			    <div class="form-group col-md-6">
				  <label>Kota 1</label>
				  <input name="customer_city" class="form-control form-control-sm">
			    </div>
				<div class="form-group col-md-6">
				  <label>No. Telepon 1</label>
				  <input name="customer_phone" class="form-control form-control-sm">
			    </div>
			  </div>
			  <div class="form-group">
				<label>Catatan</label>
				<input name="customer_note" class="form-control form-control-sm">
			  </div>
			</div>
			<div class="col-md-6">
			  <div class="form-group">
			    <label>NPWP</label>
			    <input name="customer_npwp" maxlength="25" class="form-control form-control-sm">
			  </div>
			  <div class="form-group">
			    <label class="text-primary">Nama 1</label>
			    <input name="customer_name_other" class="form-control form-control-sm">
			  </div>
			  <div class="form-group">
			    <label class="text-primary">Alamat 2</label>
			    <input name="customer_address_other" class="form-control form-control-sm">
			  </div>
			  <div class="form-row">
			    <div class="form-group col-md-6">
				  <label class="text-primary">Kota 2</label>
				  <input name="customer_city_other" class="form-control form-control-sm">
			    </div>
				<div class="form-group col-md-6">
				  <label class="text-primary">Telepon 2</label>
				  <input name="customer_phone_other" class="form-control form-control-sm">
			    </div>
			  </div>
			</div>
		  </div>
		</div>
		<div class="modal-footer bg-light">
		  <button type="submit" name="update" class="btn btn-primary btn-sm btn-form">SAVE</button>
		  <button type="button" class="btn btn-danger btn-sm btn-form" data-dismiss="modal">EXIT</button>
		</div>
	  </form>
	</div>
  </div>
</div>